- icon ||= 'th-large'
- show_public_path ||= false

.widget
  .widget-content.widget-content-mini
    = fa(icon)
    %strong= title
  .widget-content
    .row
      - shelves.each do |shelf|
        .col-xs-6.col-sm-4
          .row
            .col-xs-10
              - if show_public_path
                = link_to shelf.screen_name, public_shelf_path(id: profile_id, shelf_id: shelf.id) if profile_id.present?
              - else
                = link_to shelf.screen_name, shelf
            .col-xs-2
              %span.pull-right= shelf.books.count
