<%= form_for([@author, @author_award = setup_award(@author, @author_award)]) do |f| %>
  <% if @author_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author_award.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @author_award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-12 form-group">
    <%= f.label :prize_id %><br>
    <%= f.collection_select :prize_id, Prize.all, :id, :name, {:prompt => '--- Select prize ---'}, class: 'form-control' %>
  </div>
  <div class="field col-xs-12 form-group">
    <%= f.label :year %><br>
    <%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), class: 'form-control' %>
  </div>

  <%= f.hidden_field :author_id, :value => @author_award.author_id unless @author_award.author_id.nil? %>

  <div class="actions col-xs-12 form-group">
    <%= f.submit 'Save', :class => 'form-control btn-success'  %>
  </div>
<% end %>
