<p id="notice"><%= notice %></p>

<h1>Listing Author Awards</h1>

<%= paginate @author_awards %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Author</th>
      <th>Prize</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% @author_awards.each do |author_award| %>
      <tr>
        <td><%= link_to "#{author_award.author.fullname}", author_award.author %></td>
        <td><%= link_to "#{author_award.prize.name}", author_award.prize %></td>
        <td><%= author_award.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

