<div class="block">
  <div class="block-title">
     <h2>Edit Profile</h2>
  </div>

  <%= form_for(@profile, :html => { :role => 'form', class: "form-horizontal form-bordered"}) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :username, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :username, class: "form-control", placeholder: "Text" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", placeholder: "Text" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :avatar, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :avatar, class: "form-control", placeholder: "Text" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cover, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :cover, class: "form-control", placeholder: "Text" %>
      </div>
    </div>    
    <div class="form-group">
      <%= f.label :about_me, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.text_area :about_me, class: "form-control", placeholder: "Text", rows: 7 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :about_library, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.text_area :about_library, class: "form-control", placeholder: "Text", rows: 7 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :account_type, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.select :account_type, options_for_select(@account_types.collect { |s| [s[0].humanize, s[0]] }, selected: @profile.account_type), {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :privacy, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.select :privacy, options_for_select(@privacies.collect { |s| [s[0].humanize, s[0]] }, selected: @profile.privacy), {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :language, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.select :language, options_for_select(@languages.collect { |s| [s[0].humanize, s[0]] }, selected: @profile.language), {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :allow_comments, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= label_tag(nil, class: 'csscheckbox csscheckbox-primary') do %>
          <%= f.check_box :allow_comments %>
          <span></span>
        <% end %>      
      </div>
    </div>

    <div class="form-group">
      <%= f.label :allow_friends, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= label_tag(nil, class: 'csscheckbox csscheckbox-primary') do %>
          <%= f.check_box :allow_friends %>
          <span></span>
        <% end %>        
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email_privacy, class: 'col-md-3 control-label' %>
      <div class="col-md-6">
      <%= f.select :email_privacy, options_for_select(@email_privacies.collect { |s| [s[0].humanize, s[0]] }, selected: @profile.email_privacy), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :discoverable_by_email, class: 'col-md-3 control-label' %>
      <div class="col-md-6">    
        <%= label_tag(nil, class: 'csscheckbox csscheckbox-primary') do %>
          <%= f.check_box :discoverable_by_email %>
          <span></span>
        <% end %>           
      </div>
    </div>

    <div class="form-group">
      <%= f.label :receive_newsletters, class: 'col-md-3 control-label' %>
      <div class="col-md-6">     
        <%= label_tag(nil, class: 'csscheckbox csscheckbox-primary') do %>
          <%= f.check_box :receive_newsletters %>
          <span></span>
        <% end %>                                    
      </div>
    </div>

     <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">   
          <%= button_tag("Save", type: "submit", class: "btn btn-effect-ripple btn-primary") %> 
          <%= link_to("Back to Profile",public_profile_path(@profile.id), class: "btn btn-effect-ripple btn-danger") %> 
        </div>   
      </div> 
  <% end %>
</div>


