<div class="row">
  <div class="col-lg-7">
    <div class="widget">
      <div class="widget-image widget-image-220">
        <%= image_tag(@profile.cover_safe, alt: "cover", class: "cover")  %>
        <div class="widget-image-content text-center">
          <%= image_tag(@profile.gravatar, alt: "avatar", class: "img-circle img-thumbnail img-thumbnail-transparent push")  %>
          <h3 class="widget-heading text-light"><strong><%= @profile.name %> (<%= @profile.username %>)</strong></h3>
          <h4 class="widget-heading text-light-op"><em> Total Books in library: <%= @profile.user.books.distinct.count %></em></h4>
          <% if @profile.user != current_user %>
            <%= button_tag :onclick => "javascript:follow(#{@profile.id})",
              type: "button",
              class: "btn btn-xs btn-follow btn-follow-#{@profile.id} btn-effect-ripple #{current_user.following?(@profile.user) ? 'btn-success' : 'btn-default'}" do %>
                <% if current_user.following?(@profile.user) %>
                <i class="fa fa-users"></i>
                <strong><span><%= " #{t 'users.following'}" %></span></strong>
                <% else %>
                <i class="fa fa-user-plus"></i>
                <strong><span><%= " #{t 'users.follow'}" %></span></strong>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="widget-content widget-content-full border-bottom">
        <div class="row text-center">
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-book themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.books.distinct.count %></strong> Books
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-thumbs-up themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.likes_count + @profile.user.dislikes_count %></strong> Ratings
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-comments themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.comments.count %></strong> Reviews
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom">
            <h3 class="widget-heading">
              <i class="fa fa-users themed-color-social push"></i> <br>
              <small><strong><%= @profile.user.followers_count %></strong> Followers</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="widget-content border-bottom">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td style="width: 30%;"><strong>Activity</strong></td>
              <td>Member since <%= I18n.l(@profile.created_at, format: '%b %Y') %></td>
            </tr>
            <% if @profile.about_me.present? %>
            <tr>
              <td style="width: 30%;"><strong>About me</strong></td>
              <td><%= @profile.about_me %></td>
            </tr>
            <% end %>
            <% if @profile.about_library.present? %>
            <tr>
              <td style="width: 30%;"><strong>About Library</strong></td>
              <td><%= @profile.about_library %></td>
            </tr>
            <% end %>
            <% if @profile.website.present? %>
            <tr>
              <td style="width: 30%;"><strong>Website</strong></td>
              <td><%= link_to @profile.website, @profile.website, target: "_blank" %></td>
            </tr>
            <% end %>
            <% if @profile.goodreads.present? %>
            <tr>
              <td style="width: 30%;"><strong>Good Reads</strong></td>
              <td><%= link_to @profile.goodreads, @profile.goodreads, target: "_blank" %></td>
            </tr>
            <% end %>
            <% if @profile.librarything.present? %>
            <tr>
              <td style="width: 30%;"><strong>That Library Thing</strong></td>
              <td><%= link_to @profile.librarything, @profile.librarything, target: "_blank" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @profile.social_any? %>
      <div class="widget-content">
        <h4>Social</h4>
        <div class="btn-group">
          <%= link_to fa('facebook'), @profile.facebook, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Facebook" if @profile.facebook.present? %>
          <%= link_to fa('twitter'), @profile.twitter, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Twitter" if @profile.twitter.present? %>
          <%= link_to fa('google-plus'), @profile.googleplus, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Google Plus" if @profile.googleplus.present? %>
          <%= link_to fa('pinterest'), @profile.pinterest, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Pinterest" if @profile.pinterest.present? %>
        </div>
      </div>
      <% end %>

    </div>

    <div class="widget">
      <div class="widget-content widget-content-mini themed-background-dark text-light-op">
        <span class="pull-right text-muted">just now</span>
        <a href="javascript:void(0)" class="text-light">Dennis Franklin</a> uploaded <a href="javascript:void(0)" class="text-light">4 New Photos</a>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-md-3 push-bit">
            <%= image_tag("placeholders/photos/photo5.jpg", alt: "image")  %>
          </div>
          <div class="col-md-3 push-bit">
            <%= image_tag("placeholders/photos/photo7.jpg", alt: "image")  %>
          </div>
          <div class="col-md-3 push-bit">
            <%= image_tag("placeholders/photos/photo1.jpg", alt: "image")  %>
          </div>
          <div class="col-md-3 push-bit">
            <%= image_tag("placeholders/photos/photo2.jpg", alt: "image")  %>
          </div>
        </div>
        <div class="push-bit-top">
          <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
          <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-primary"><i class="fa fa-twitter"></i> Tweet</a>
        </div>
      </div>
      <div class="widget-content themed-background-muted">
        <form action="page_app_social.html" method="post" onsubmit="return false;">
          <textarea class="form-control" rows="2" placeholder="Write your comment.."></textarea>
          <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary">Publish</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <%= render partial: 'books/widgets/side',
      locals: {
        title: " #{t('books.recommended_by')} #{@profile.username}",
        icon: "thumbs-o-up",
        books: @recommended_books
      } %>

    <%= render partial: 'authors/widgets/side',
      locals: {
        title: " #{t('authors.favourite')}",
        icon: "user-secret",
        authors: @recommended_authors
      } %>

    <div class="widget">
     <div class="widget-content widget-content-mini border-bottom">
       <a href="page_ready_pricing_tables.html" class="pull-right text-muted">Pro Plan</a>
       Account Status
     </div>
     <div class="widget-content widget-content-full-top-bottom">
       <!-- Mini Widgets -->
       <div class="row border-bottom">
         <div class="col-xs-6 push-inner-top-bottom border-right">
           <a href="javascript:void(0)" class="widget text-center remove-margin-bottom">
             <div class="widget-content themed-background text-center">
               <div class="widget-icon push">
                 <i class="fa fa-folder text-light-op"></i>
               </div>
               <div>
                 <strong class="text-light">100GB</strong>
               </div>
             </div>
           </a>
         </div>
         <div class="col-xs-6 push-inner-top-bottom">
           <a href="javascript:void(0)" class="widget text-center remove-margin-bottom">
             <div class="widget-content themed-background-info text-center">
               <div class="widget-icon push">
                 <i class="fa fa-database text-light-op"></i>
               </div>
               <div>
                 <strong class="text-light">3 Databases</strong>
               </div>
             </div>
           </a>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-6 push-inner-top-bottom border-right">
           <a href="javascript:void(0)" class="widget text-center remove-margin-bottom">
             <div class="widget-content themed-background-success text-center">
               <div class="widget-icon push">
                 <i class="fa fa-envelope text-light-op"></i>
               </div>
               <div>
                 <strong class="text-light">2 Emails</strong>
               </div>
             </div>
           </a>
         </div>
         <div class="col-xs-6 push-inner-top-bottom">
           <a href="javascript:void(0)" class="widget text-center remove-margin-bottom">
             <div class="widget-content themed-background-danger text-center">
               <div class="widget-icon push">
                 <i class="fa fa-support text-light-op"></i>
               </div>
               <div>
                 <strong class="text-light"><i class="fa fa-check"></i> Support</strong>
               </div>
             </div>
           </a>
         </div>
       </div>
       <!-- END Mini Widgets -->
     </div>
   </div>
 </div>
</div>


<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Follows:</strong>
  <%= @profile.user.follow_count %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @profile.user.followers_count %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>About library:</strong>
  <%= @profile.about_library %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @profile.account_type %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @profile.privacy %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>

<p>
  <strong>Allow comments:</strong>
  <%= @profile.allow_comments %>
</p>

<p>
  <strong>Allow friends:</strong>
  <%= @profile.allow_friends %>
</p>

<p>
  <strong>Email privacy:</strong>
  <%= @profile.email_privacy %>
</p>

<p>
  <strong>Discoverable by email:</strong>
  <%= @profile.discoverable_by_email %>
</p>

<p>
  <strong>Receive newsletters:</strong>
  <%= @profile.receive_newsletters %>
</p>


<%= link_to 'Edit', edit_profile_path if policy(@profile).update? %>

