<div class="row">
  <div class="col-lg-7">
    <div class="widget">
      <div class="widget-image widget-image-220">
        <%= image_tag(@profile.cover_safe, alt: "cover", class: "cover")  %>
        <div class="widget-image-content text-center">
          <%= image_tag(@profile.gravatar, alt: "avatar", class: "img-circle img-thumbnail img-thumbnail-transparent push")  %>
          <h3 class="widget-heading text-light"><strong><%= @profile.name %> (<%= @profile.username %>)</strong></h3>
          <h4 class="widget-heading text-light-op"><em> Total Books in library: <%= @profile.user.books.distinct.count %></em></h4>
          <% if @profile.user != current_user %>
            <%= button_tag :onclick => "javascript:follow(#{@profile.id})",
              type: "button",
              class: "btn btn-xs btn-follow btn-follow-#{@profile.id} btn-effect-ripple #{current_user.following?(@profile.user) ? 'btn-success' : 'btn-default'}" do %>
                <% if current_user.following?(@profile.user) %>
                <i class="fa fa-users"></i>
                <strong><span><%= " #{t 'users.following'}" %></span></strong>
                <% else %>
                <i class="fa fa-user-plus"></i>
                <strong><span><%= " #{t 'users.follow'}" %></span></strong>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="widget-content widget-content-full border-bottom">
        <div class="row text-center">
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-book themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.books.distinct.count %></strong> Books
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-thumbs-up themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.likes_count + @profile.user.dislikes_count %></strong> Ratings
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom border-right">
            <h3 class="widget-heading">
              <i class="fa fa-comments themed-color-social push"></i> <br>
              <small>
                <strong><%= @profile.user.comments.count %></strong> Reviews
              </small>
            </h3>
          </div>
          <div class="col-xs-3 push-inner-top-bottom">
            <h3 class="widget-heading">
              <i class="fa fa-users themed-color-social push"></i> <br>
              <small><strong><%= @profile.user.followers_count %></strong> Followers</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="widget-content border-bottom">
        <table class="table table-striped">
          <tbody>
            <% if @profile.details_any?.present? %>
            <tr>
              <td style="width: 30%;"><strong>Details</strong></td>
              <td><%= @profile.details %></td>
            </tr>
            <% end %>
            <tr>
              <td style="width: 30%;"><strong>Activity</strong></td>
              <td>Member since <%= I18n.l(@profile.created_at, format: '%b %Y') %></td>
            </tr>
            <% if @profile.about_me.present? %>
            <tr>
              <td style="width: 30%;"><strong>About me</strong></td>
              <td><%= @profile.about_me %></td>
            </tr>
            <% end %>
            <% if @profile.about_library.present? %>
            <tr>
              <td style="width: 30%;"><strong>About Library</strong></td>
              <td><%= @profile.about_library %></td>
            </tr>
            <% end %>
            <% if @profile.website.present? %>
            <tr>
              <td style="width: 30%;"><strong>Website</strong></td>
              <td><%= link_to @profile.website, @profile.website, target: "_blank" %></td>
            </tr>
            <% end %>
            <% if @profile.goodreads.present? %>
            <tr>
              <td style="width: 30%;"><strong>Good Reads</strong></td>
              <td><%= link_to @profile.goodreads, @profile.goodreads, target: "_blank" %></td>
            </tr>
            <% end %>
            <% if @profile.librarything.present? %>
            <tr>
              <td style="width: 30%;"><strong>That Library Thing</strong></td>
              <td><%= link_to @profile.librarything, @profile.librarything, target: "_blank" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @profile.social_any? %>
      <div class="widget-content">
        <h4>Social</h4>
        <div class="btn-group">
          <%= link_to fa('facebook'), @profile.facebook, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Facebook" if @profile.facebook.present? %>
          <%= link_to fa('twitter'), @profile.twitter, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Twitter" if @profile.twitter.present? %>
          <%= link_to fa('google-plus'), @profile.googleplus, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Google Plus" if @profile.googleplus.present? %>
          <%= link_to fa('pinterest'), @profile.pinterest, target: "_blank", class: "btn btn-default", "data-toggle": "tooltip", title: "Pinterest" if @profile.pinterest.present? %>
        </div>
      </div>
      <% end %>
    </div>

    <%= render partial: 'books/widgets/grid',
    locals: {title: " #{t('books.favourite')}", icon: "heart-o", cover_size: '72', books: @favourite_books} %>

    <%= render partial: 'shelves/widgets/list',
    locals: {title: " #{t('shelves.collections')}", shelves: @shelves} %>

    <%= render partial: 'books/widgets/grid',
      locals: {title: " #{t('books.currently_reading')}",
      icon: "book", cover_size: '72', books: @currently_reading_books} %>

    <% @activities.each do |activity| %>
      <%= render partial: 'books/widgets/activity',
        locals: {activity: activity}  if activity.trackable_type == 'Book' %>
    <% end %>

  </div>

  <div class="col-lg-5">
    <div class="row">
      <div class="col-xs-6">
        <div class="widget">
          <div class="widget-content widget-content-mini text-center border-bottom">
            <%= t('users.similarity_with') %><br><strong><%= @profile.username %></strong>
          </div>
          <div class="widget-content">
            <div class="pie-chart easyPieChart" data-percent="<%= @normalized_similarity %>" data-line-width="3" data-bar-color="#de4b39" data-track-color="#f9f9f9">
              <span><strong><%= @normalized_similarity %>%</strong></span>
              <canvas width="80" height="80"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'books/widgets/side',
      locals: {
        title: " #{t('books.recommended_by')} #{@profile.username}",
        icon: "thumbs-o-up",
        books: @recommended_books
      } %>

    <%= render partial: 'authors/widgets/side',
      locals: {
        title: " #{t('authors.favourite')}",
        icon: "user-secret",
        authors: @recommended_authors,
        liked_ids: @liked_author_ids
      } %>

    <div class="widget">
      <div class="widget-content widget-content-mini border-bottom">
       <strong><%= t('users.follows') %></strong>
      </div>
      <% if @following_users.any? %>
        <div class="widget-content widget-content-full-top-bottom">
          <div class="row">
            <% @following_users.each do |u| %>
             <div class="col-xs-3">
               <div class="widget-content">
                  <%= link_to image_tag(u.avatar), public_profile_path(u.profile), title: u.screen_name %>
               </div>
             </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="widget-content">
          <div class="text-center">
            <span class="widget-content text-muted">
              <small><%= t('users.following_nobody') %></small>
            </span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="widget">
      <div class="widget-content widget-content-mini border-bottom">
       <strong><%= t('users.are_following') %></strong>
      </div>
      <% if @user_followers.any? %>
        <div class="widget-content widget-content-full-top-bottom">
          <div class="row">
            <% @user_followers.each do |u| %>
             <div class="col-xs-3">
               <div class="widget-content">
                 <%= link_to image_tag(u.avatar), public_profile_path(u.profile), title: u.screen_name %>
               </div>
             </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="widget-content">
          <div class="text-center">
            <span class="widget-content text-muted">
              <small><%= t('users.nobody_follows') %></small>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
