.row.index-layout
  .col-lg-6
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title= @shelf.id.present? ? detone(t('shelves.edit')) : detone(t('shelves.new'))

      .index-panel__content
        = form_for(@shelf, html: {role: 'form'}) do |f|
          - if @shelf.errors.any?
            .alert.alert-danger
              %h2.h6
                = pluralize(@shelf.errors.count, "error")
                prohibited this shelf from being saved:
              %ul.mb-0
                - @shelf.errors.full_messages.each do |message|
                  %li= message

          - unless @shelf.built_in?
            .mb-3
              = f.label :name, t('shelves.name'), class: 'form-label'
              = f.text_field :name, class: "form-control", placeholder: t('shelves.name_of_shelf')

          .mb-3
            = f.label :privacy, t('shelves.privacy.label'), class: 'form-label'
            = f.select :privacy, options_for_select(@privacies.collect { |s|
              [Shelf.humanize_privacy(s[0]), s[0]] }, selected: @shelf.privacy), {}, class: 'form-select'

          .mb-3
            .form-check
              = f.check_box :active, class: 'form-check-input'
              = f.label :active, t('shelves.active'), class: 'form-check-label'

          .d-flex.flex-wrap.gap-2
            = button_tag(t('save'), type: "submit", class: "btn btn-primary")
            = link_to t('cancel'), @shelf.new_record? ? shelves_path : shelf_path(@shelf), class: "btn btn-outline-secondary"
