
<p>
  <strong>Name:</strong>
  <%= @shelf.name %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @shelf.privacy %>
</p>

<p>
  <strong>Built in:</strong>
  <%= @shelf.built_in %>
</p>

<p>
  <strong>Active:</strong>
  <%= @shelf.active %>
</p>

<%= render 'books/books_table' %>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
