- tags = { title: @shelf.screen_name }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('my_collections') => shelves_path, @shelf.screen_name => nil}

= content_header( title: t('my_collections'), breadcrumbs: pages)

.row.index-layout
  .col-12
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title= detone @shelf.screen_name
        .index-panel__actions
          = nav_btn_link_to(name: fa('cog'), url: edit_shelf_path(@shelf), tooltip: t('shelves.edit'))
          - unless @shelf.built_in
            = link_to @shelf, class: "btn btn-sm btn-danger btn-icon", method: :delete, data: { turbo_confirm: t('u_sure')}, title: t('shelves.delete') do
              %i.fa.fa-trash-o{aria: {hidden: true}}

      .index-panel__toolbar
        .index-panel__pagination
          = render "books/widgets/pagination"

      .index-panel__content
        .book-list
          = render partial: "books/book", collection: @books, as: :book
        = render "books/widgets/pagination"
