.widget
  .widget-content.widget-content-mini.themed-background-dark.text-light-op
    %span.pull-right.text-muted= time_ago_in_words(activity.created_at)
    = activity_article activity
    = link_to(activity.owner.screen_name, public_profile_path(activity.owner.profile), class: 'text-light')
    = activity_verb activity
    = t('books.a_book')
  .widget-content
    = render partial: "books/book", locals: {book: activity.trackable, rule: false}

