%li.media
  %a.pull-left{:href => "#{public_profile_path(user.id)}"}
    %img.img-circle{:alt => "Avatar", :src => "#{user.avatar}"}/
  .media-body
    %form.comment-form{:onsubmit => "return false;"}
      %textarea.comment-area.form-control{:placeholder => "#{t('comments.write')}", :rows => "2"}
      %input{:name => "book_id", :type => "hidden", :value => "#{book.id}"}/
      %input{:name => "email", :type => "hidden", :value => "#{user.email}"}/
      %input{:name => "token", :type => "hidden", :value => "#{user.token}"}/
      %button.post-comment.btn.btn-effect-ripple.btn-sm.btn-primary{:type => "submit"}= t('comments.post')
    %button.btn.btn-effect-ripple.btn-sm.btn-primary{"data-target" => "#reviewModal", "data-toggle" => "modal", :type => "button"}
      Review
    = render 'books/review_modal'
