%li.media.comment-form-block{:id => "comment-form-block-#{parent_id}"}
  %a.pull-left{:href => "#{public_profile_path(user.id)}"}
    %img.img-circle{:alt => "Avatar", :height => "30", :width => "30", :src => "#{user.avatar}"}/
  .media-body
    %form.comment-form{:onsubmit => "return false;", :id => "comment-form-#{parent_id}", style: "display:none;"}
      %textarea.comment-area.form-control{:placeholder => "#{t('comments.write')}", :rows => "2"}
      %input{:name => "book_id", :type => "hidden", :value => "#{book.id}"}/
      %input{:name => "parent_id", :type => "hidden", :value => "#{parent_id}"}/
      %input{:name => "email", :type => "hidden", :value => "#{user.email}"}/
      %input{:name => "token", :type => "hidden", :value => "#{user.token}"}/
      %button.post-comment.btn.btn-effect-ripple.btn-sm.btn-primary{:type => "submit"}= t('comments.post')
    %button.write-comment-btn.btn.btn-sm.btn-link{:type => "button", :id => "write-comment-btn-#{parent_id}"}= t('comments.write_comment')
