.book-filters#filter-sidebar{data: {filter_sidebar_target: "panel"}, role: "complementary", aria: {label: t("books.filters.label")}}
  .book-filters__header
    %h2.book-filters__heading= t("books.filters.label")
    %button.book-filters__close.visible-xs{type: "button", data: {action: "click->filter-sidebar#toggle"}, aria: {label: t("close", default: "Close")}}
      %i.fa.fa-times{aria: {hidden: true}}

  .book-filters__body
    = render partial: "books/widgets/filter", locals: {title: t("authors.label_singular"), filter_name: "author", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("publishers.label_singular"), filter_name: "publisher", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("categories.label_singular"), filter_name: "category", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("series.label_singular"), filter_name: "series", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("books.publication_year"), filter_name: "publication_year", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("books.format"), filter_name: "format", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("books.original_language"), filter_name: "language", books: books}
    = render partial: "books/widgets/filter", locals: {title: t("books.pages_label"), filter_name: "pages", books: books}
