- cover_size ||= "114"
- icon ||= "book"
- find_more ||= nil
- lg_6_cols ||= false
- grid_modifier = lg_6_cols ? "book-grid__items--dense" : nil

- cache(["book_grid", books.map(&:id), books.map(&:updated_at).max, lg_6_cols]) do
  %section.book-grid
    %header.book-grid__header
      - if icon.present?
        %span.book-grid__icon= fa(icon)
      .book-grid__title
        = title

    - if books.any?
      .book-grid__items{class: grid_modifier}
        - books.each do |book|
          - cache(book) do
            = render partial: "books/widgets/book_card", locals: {book: book}

      - if find_more.present?
        %footer.book-grid__footer
          = link_to t("more"), find_more, class: "book-grid__more"
    - else
      %p.book-grid__empty= t("no_books_yet")
