- cover_size   ||= '114'
- icon         ||= 'book'
- find_more ||= nil

- cache(["book_grid", books.map(&:id), books.map(&:updated_at).max]) do
  .widget
    .widget-content.widget-content-mini.themed-background-dark-flat.text-light-op.border-bottom
      = fa(icon)
      %strong= title
    .widget-content
      - if books.any?
        .row
          .col-xs-12
            .book-container
              - books.each do |book|
                - cache(book) do
                  .book-cover
                    = link_to image_tag(book.cover, height: cover_size, width: cover_size, alt: "book_cover", class: "img-thumbnail", "data-toggle" => "tooltip", "data-placement" => "top", title: book.title), book
        .row
          .col-xs-12
            .text-right
              %small= link_to t('more'), find_more unless find_more.nil?
      - else
        .text-center
          %span.text-muted
            %small= t('no_books_yet')
