- liked = liked_ids.present? ? liked_ids.include?(author.id) : false
%article.author-list-item
  .author-list-item__media
    = link_to author, class: "author-list-item__avatar-link" do
      = image_tag(author.avatar, alt: author.fullname, class: "author-list-item__avatar", width: 96, height: 96, loading: "lazy")

  .author-list-item__content
    .author-list-item__header
      .author-list-item__heading
        %h4.author-list-item__title= link_to author.fullname_reversed, author, class: "author-list-item__title-link"

        - if author.extra_info.present?
          %p.author-list-item__meta= author.extra_info

      .author-list-item__actions
        = render partial: "authors/widgets/favourite_btn", locals: {author: author, liked: liked}
        - if policy(author).update?
          = link_to fa("pencil"), edit_author_path(author), class: "btn btn-xs btn-success", title: t("edit", default: "Edit")
        - if policy(author).destroy?
          = link_to fa("times"), author, class: "btn btn-xs btn-danger", method: :delete, data: { turbo_confirm: t("u_sure")}
        - if policy(author).update?
          %span.author-list-item__admin-id ID: #{author.id}

    %p.author-list-item__stats
      = t("authors.x_books", count: author.contributions_count)
      ·
      = t("authors.favoured_x_times", count: author.liked_by_count)
      ·
      = t("authors.with_x_views", count: author.impressions_count)

    - if author.short_biography(100).present?
      %p.author-list-item__description= author.short_biography(100)
