<h1><%= @awardable.fullname %></h1>

<p>
  <strong>Firstname:</strong>
  <%= @awardable.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @awardable.lastname %>
</p>

<p>
  <strong>Lifetime:</strong>
  <%= @awardable.lifetime %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @awardable.biography %>
</p>

<p>
  <strong>Image:</strong>
  <%= @awardable.image %>
</p>