<div class="row clearfix">
  
  <div class="col-xs-2">
    <%= image_tag(author.avatar, height: '96', width: '96') %>
  </div>
  <div class="col-xs-10">
    <div class="row clearfix">
      <div class="col-xs-9">
        <h4><%= link_to author.fullname_reversed, author %></h4>       
        <span><%= author.extra_info %></span>
        <%= tag(:br) if author.extra_info.present? %>
        <span><small class="text-muted"><%= 
          t('authors.x_books', count: author.books.count) + " - " + 
          t('authors.favoured_x_times', count: author.liked_by_count) + " - " + 
          t('authors.with_x_views', count: author.impressionist_count)          
        %></small></span>
      </div>
      <div class="col-xs-3 text-center">
        <%= render partial: 'authors/widgets/favourite_btn', locals: {author: author}  %>
        <%= link_to fa('pencil'), edit_author_path(author), class: 'btn btn-effect-ripple btn-xs btn-success' if policy(author).update? %>
        <%= link_to fa('times'), author, class: 'btn btn-effect-ripple btn-xs btn-danger', method: :delete, data: { confirm: t('u_sure') } if policy(author).destroy? %>
        <% if policy(author).update? %>
          <%= tag(:br) %>
          <small class="text-muted">
            <%= "ID: #{author.id}"%>
          </small>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p><small><%= author.short_biography(100) %></small></p>
        </div>
    </div>

  </div>
</div>
<hr>