
<%= paginate @authors %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Lifetime</th>
      <th>Biography</th>
      <th>Image</th>
      <th>Biblionet_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstname %></td>
        <td><%= author.lastname %></td>
        <td><%= author.lifetime %></td>
        <td><%= author.biography %></td>
        <td><%= author.image %></td>
        <td><%= author.biblionet_id %></td>      
        <td><%= link_to t('show'), author %></td>
        <% if policy(author).update? %>
        <td><%= link_to t('edit'), edit_author_path(author) %></td>
        <% end %>
        <% if policy(author).destroy? %>
        <td><%= link_to t('destroy'), author, method: :delete, data: { confirm: t('u_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>