- tags = { title: t('authors.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('authors.label') => nil}

= content_header(                                                |
  content: render(partial: 'shared/search_form',                                         |
  locals: {action: authors_path, placeholder: t('authors.search')}), breadcrumbs: pages) |

.row.index-layout
  .col-sm-8
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title
          = params[:q].present? ? detone(t('search_results')) : detone(t('authors.all'))
          - if @authors.respond_to?(:total_count) && @authors.total_count.present?
            %span.index-panel__count= " (#{@authors.total_count})"
        - if policy(Author).new?
          .index-panel__actions
            = nav_btn_link_to(name: fa('plus'), url: new_author_path, tooltip: t('authors.new'))

      .index-panel__toolbar
        .index-panel__pagination
          = render "authors/widgets/pagination"

      .index-panel__content
        .author-list
          = render partial: "authors/author", collection: @authors, as: :author, locals: { liked_ids: @liked_author_ids }, cached: true
        = render "authors/widgets/pagination"

  .col-sm-4.index-sidebar
    - if current_user.present?
      = render partial: "authors/widgets/side", locals: {title: t("authors.recommended_for_you"), icon: "user-secret", authors: @recommended_authors, liked_ids: @liked_author_ids, cache_key: "side_recommended_authors"}
    = render partial: "authors/widgets/side", locals: {title: t("authors.top"), icon: "user-secret", authors: @top_authors, liked_ids: @liked_author_ids, cache_key: "side_top_authors"}
