- tags = { title: t('authors.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('authors.label') => nil}

= cell(:navigation).call(:content_header,                                                |
  content: render(partial: 'shared/search_form',                                         |
  locals: {action: authors_path, placeholder: t('authors.search')}), breadcrumbs: pages) |

.row
  .col-sm-8
    .block
      .block-title
        .block-options.pull-right
          = cell(:navigation).call(:btn_link_to, name: fa('plus'), url: new_author_path, tooltip: t('authors.new')) if policy(Author).new?
        %h2= params[:q].present? ? detone(t('search_results')) : detone(t('authors.all'))
      .row
        = @results
        = render "authors/widgets/pagination"
        %hr/
        .col-xs-12
          = render :partial => "authors/author", :collection => @authors, :as => :author, locals: { liked_ids: @liked_author_ids }, cached: true
        = render "authors/widgets/pagination"
  .col-sm-4
    - if current_user.present?
      = render partial: 'authors/widgets/side', locals: { title: " #{t('authors.recommended_for_you')}", icon: "user-secret", authors: @recommended_authors, liked_ids: @liked_author_ids}
    = render partial: 'authors/widgets/side', |
      locals: {                               |
        title: " #{t('authors.top')}",        |
        icon: "user-secret",                  |
        authors: @top_authors,                |
        liked_ids: @liked_author_ids          |
      }                                       |
