- tags = { title: @author.fullname, image: image_url(@author.avatar), description: @author.short_biography(140) }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)
- pages = {fa('home') => root_url, t('authors.label') => authors_path, @author.fullname => nil}
= cell(:navigation).call(:content_header,                                                |
  content: render(partial: 'shared/search_form',                                         |
  locals: {action: authors_path, placeholder: t('authors.search')}), breadcrumbs: pages) |
.row
  .col-sm-10.col-sm-offset-1
    .block.full
      .block-title
        .block-options.pull-right
          - if policy(@author).update?
            = cell(:navigation).call(:btn_link_to, name: fa('pencil'), url: edit_author_path(@author), tooltip: t('authors.edit'), style: 'success')
          = link_to fa('times'), @author, class: "btn btn-effect-ripple btn-danger",                                                                                               |
            method: :delete, data: { confirm: t('u_sure'), "toggle" => "tooltip", "original-title" => t('authors.delete') } if policy(@author).destroy? and @author.books.count==0 |
        %h1= detone(@author.fullname)
      .row
        .col-sm-3
          .row
            .widget
              .widget-content.themed-background-muted.text-center.clearfix
                = image_tag(@author.avatar, alt: "author_photo", class: "img-thumbnail")
              .widget-content.themed-background-muted.text-center
                = render partial: 'authors/widgets/favourite_btn', locals: {author: @author, liked: @liked}
                %hr/
                .row.text-center
                  .col-xs-6
                    %h4.widget-heading
                      %small= t 'books.label'
                      %br/
                      = @author.books.count
                  .col-xs-6
                    %h4.widget-heading
                      %small= t 'stats.views'
                      %br/
                      = @author.impressionist_count
                  .col-xs-6
                    %h4.widget-heading
                      %small= t 'authors.favoured'
                      %br/
                      = @author.liked_by_count
        .col-sm-9
          %h2
            = @author.fullname
            %br/
            %small= @author.extra_info
          %hr/
          %article.description
            = @author.biography.html_safe if @author.biography.present?
          - if @author.awards.count > 0
            %h4.sub-header
              = t('awards.label')
            - @author.awards.each do |award|
              = link_to award.prize.name, award.prize
              = " (#{award.year})"
              %br/
          - if @author.books.count > 0
            %h4.sub-header
              = t('books.label')
            = render partial: "shared/pagination", locals: {paginatable: @books}
            %hr/
            = render :partial =>  "books/book", :collection => @books, :as => :book
            = render partial: "shared/pagination", locals: {paginatable: @books}
            = render 'books/collections_modal' if user_signed_in?
- if policy(Award).new?
  .row
    .col-sm-10.col-sm-offset-1
      .block.full
        .block-title
          %h2
            = detone t('awards.new')
        .row
          = render 'awards/form'
