<h1><%= @author.fullname %></h1>

<p>
  <strong>Firstname:</strong>
  <%= @author.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @author.lastname %>
</p>

<p>
  <strong>Lifetime:</strong>
  <%= @author.lifetime %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>

<p>
  <strong>Image:</strong>
  <%= @author.image %>
</p>

<h3>Awards</h3>
<div id="awards">
  <%= render :partial => "author_awards/prizes_in_author", :collection => @author.author_awards, :as => :award %>
</div>

<%= render :file => 'author_awards/new' %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
