<h1><%= @author.fullname %></h1>

<p>
  <strong>Firstname:</strong>
  <%= @author.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @author.lastname %>
</p>

<p>
  <strong>extra_info:</strong>
  <%= @author.extra_info %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>

<p>
  <strong>Image:</strong>
  <%= @author.image %>
</p>

<h3>Awards</h3>

<%= render 'awards/awards' unless @awards.nil? or @awards.empty? %>

<%= render 'awards/form' if policy(Award).new? %>

<br>
<%= link_to 'Edit', edit_author_path(@author) if policy(@author).update? %> <br>
<%= link_to 'Back', authors_path %>