.auth-page
  %section.index-panel.auth-card
    %header.index-panel__header
      %h2.index-panel__title Change your password

    .index-panel__content
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, role: "form"}) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        .mb-3
          = f.label :password, "New password", class: "form-label"
          = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"

        .mb-3
          = f.label :password_confirmation, "Confirm new password", class: "form-label"
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

        = f.submit "Change my password", class: "btn btn-primary"
