<div id="login-container">
  <div class="block animation-fadeInQuickInv">
    <div class="block-title">
      <h2><%= detone t('devise.passwords.forgot') %></h2>
    </div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form', class: "form-horizontal"}) do |f| %>
      <span class="help-block">
        <%= t('devise.passwords.send_instructions_short') %>
      </span>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-8">    
          <%= button_tag(type: "submit", class: "btn btn-effect-ripple btn-primary") do %>
             <%= t('devise.passwords.reset') %>
          <% end %>   
        </div>
      </div> 
    <% end %>
  </div>
</div>