<%= form_tag(action, method: 'get') do %>
  <%
    autocomplete_urls = {
      'authors' => '/authors?autocomplete=1&q=%QUERY',
      'books' => '/books?autocomplete=1&q=%QUERY',
      'categories' => '/categories?autocomplete=1&q=%QUERY',
      'publishers' => '/publishers?autocomplete=1&q=%QUERY',
      'series' => '/series?autocomplete=1&q=%QUERY',
    }
    autocomplete_variants = {
      'authors' => 'author',
      'books' => 'book',
      'categories' => 'simple',
      'publishers' => 'simple',
      'series' => 'simple',
    }
    autocomplete_url = local_assigns[:autocomplete_url] || autocomplete_urls[controller_name]
    autocomplete_variant = local_assigns[:autocomplete_variant] || autocomplete_variants[controller_name] || 'book'
  %>
  <div class="input-group">
    <% if params[:q].present? %>
    <span class="input-group-btn">
      <%= link_to fa('close'), action, class: "btn btn-default" %>
    </span>
    <% end %>

    <span id="remote"
      <% if autocomplete_url.present? %>
      data-controller="autocomplete"
      data-autocomplete-url-value="<%= autocomplete_url %>"
      data-autocomplete-variant-value="<%= autocomplete_variant %>"
      data-autocomplete-nothing-found-value="<%= t('nothing_found') %>"
      <% end %>>
      <%= text_field_tag :q, params[:q], class: 'typeahead form-control input-md', placeholder: placeholder, autocomplete: "off", data: (autocomplete_url.present? ? { autocomplete_target: "input" } : {}) %>
    </span>

    <span class="input-group-btn">
      <%= button_tag(type: "submit", name: nil, class: "btn btn-md btn-effect-ripple btn-primary") do %>
          <%= fa('search') %>
      <% end %>
    </span>
  </div>
<% end %>
