= form_for @publisher, html: {role: 'form'} do |f|
  - if @publisher.errors.any?
    .alert.alert-danger
      %h2.h6
        = pluralize(@publisher.errors.count, 'error')
        prohibited this publisher from being saved:
      %ul.mb-0
        - @publisher.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6.mb-3
      = f.label :name, class: 'form-label'
      = f.text_field :name, class: 'form-control'
    .col-md-6.mb-3
      = f.label :owner, class: 'form-label'
      = f.text_field :owner, class: 'form-control'

  .resource-form__actions
    = f.submit t('save'), class: 'btn btn-primary'
