<div class="row clearfix">
  
  <div class="col-xs-12">
    <div class="row clearfix">
      <div class="col-xs-9">
        <h4 class="sub-header"><%= link_to publisher.name, publisher %></h4>       
        <span><%= publisher.owner %></span>
        <%= tag(:br) if publisher.owner.present? %>
        <span><small class="text-muted"><%= 
          t('publishers.x_books', count: publisher.books.count) + " - " +            
          t('publishers.with_x_views', count: publisher.impressions_count)
        %></small></span>
      </div>
      <div class="col-xs-3 text-center">
        <%= link_to fa('pencil'), edit_publisher_path(publisher) if policy(publisher).update? %>
        <%= link_to fa('times'), publisher, method: :delete, data: { confirm: t('u_sure') } if policy(publisher).destroy? %>
      </div>
    </div>
  </div>
</div>
<hr>