<h1>Publisher</h1>

<%= render 'publisher' %>

<%= link_to 'Edit', edit_publisher_path(@placeable) %> |
<%= link_to 'Back', publishers_path %>


<%= render 'places/places' %>
<%= render 'places/form' %>