= render 'home/widgets/welcome' if user_signed_in? && current_user.newbie?
= render 'home/widgets/book_of_the_day' unless @book_of_the_day.nil?

= render partial: 'books/widgets/grid', locals: { title: " #{t('books.popular')}", icon: "line-chart", cover_size: '114', books: @popular_books, find_more: trending_books_path }

= render partial: 'books/widgets/grid',  locals: { title: " #{t('books.recommended')}", icon: "thumbs-o-up", cover_size: '114', books: @recommended_books, find_more: featured_books_path }

= render partial: 'books/widgets/grid', locals: { title: " #{t('books.latest')}", icon: "clock-o", cover_size: '114', books: @latest_books, find_more: latest_books_path }

= render partial: 'books/widgets/grid', locals: { title: " #{t('books.awarded')}", icon: "trophy", cover_size: '114', books: @awarded_books, find_more: awarded_books_path }
