- content_for :content_header do
  .content-header
    .row
      .offset-sm-2.offset-xl-3
        .header-section
          = render 'home/search_form'

%h1.d-none= "Bibliography GR | #{I18n.t('metatags.title')}"

.row
  .col-12
    = render 'home/widgets/community_banner'

- if user_signed_in?
  .row.index-layout.home-layout
    .col-sm-7.col-lg-8.home-main
      = render 'home/main_widgets'

      #activities-container
        = render partial: 'books/widgets/activity', collection: @activities, as: :activity if @activities.present?
      #load-more-activities-btn.home-load-more.text-center
        = turbo_load_more_link(@activities) if @activities.try(:next_page)
    .col-sm-5.col-lg-4.index-sidebar
      = render 'home/side_widgets'
- else
  .row.index-layout.home-layout
    .col-sm-7.col-lg-8.home-main
      = render 'home/main_widgets'
    .col-sm-5.col-lg-4.index-sidebar
      = render 'home/side_widgets'

- if user_signed_in?
  = render 'books/collections_modal'
