
<% content_for :content_header do %>
  <div class="content-header">
    <div class="row">
      <div class="col-sm-offset-3">
        <div class="header-section">
          <%= render 'home/search_form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= paginate @search_results unless @search_results.nil? %><br>

<% @search_results.each do |book| %>
<%= book.title%><br>
<% end unless @search_results.nil? %>
<%= "Nothing was found..." if not @search_results.nil? and @search_results.empty? and !params[:search].nil? %><br>

<div class="row">

  <div class="col-sm-3">
    <div class="widget">
      <div class="widget-content themed-background-dark-flat text-light-op text-center border-bottom">
        Latest books
      </div>    

      <% @latest_books.each do |book| %>
        
          <%= link_to book, {class: "widget-content widget-content-mini themed-background-muted border-top text-right clearfix"} do %>                                   
            <%= image_tag(book.image, alt: "book_cover",size: "90x126", class: "img-thumbnail pull-left")  %>
            <h2 class="widget-heading h5"><strong><%= book.title%></strong></h2>
            <span class="text-muted"><%= book.writers.first.fullname%></span>
            
          <% end %> 
 
      <% end %>

    </div>   
  </div>

</div>

