
<% content_for :content_header do %>
  <div class="content-header">
    <div class="row">
      <div class="col-xs-offset-2 col-xl-offset-3">
        <div class="header-section">
          <%= render 'home/search_form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= paginate @search_results unless @search_results.nil? %><br>

<% @search_results.each do |book| %>
<%= book.title%><br>
<% end unless @search_results.nil? %>
<%= t("nothing_found") if not @search_results.nil? and @search_results.empty? and !params[:search].nil? %><br>

<div class="row">

  <div class="col-lg-8 col-xl-6 col-xl-push-3">
    <%= render 'home/widgets/welcome' %>
    <%= render 'home/widgets/my_books' if user_signed_in? %>
    <%= render 'home/widgets/my_collections' if user_signed_in? %>
    <%= render 'home/widgets/recently_added' if user_signed_in? %>   
  </div>


  <div class="col-sm-6 col-lg-4 col-xl-3 col-xl-pull-6">

    <div class="widget">
      <div class="widget-content widget-content-mini border-bottom">
        <span class="pull-right text-muted">(All time)</span>
        Highest Rated Books
      </div>      
      <div class="widget-content widget-content-full">        
         <table class="table table-borderless table-striped table-vcenter">
            <tbody>
              <% @latest_books.each do |book| %>                
                <tr>                                                                       
                  <td class="text-center" style="width: 80px;">
                     <%= link_to image_tag(book.cover, alt: "book_cover", class: "img-thumbnail"), book %>
                  </td>
                  <td>                     
                    <%= link_to book.title, book %><br>
                    <%= link_to book.writers.first do %>
                      <span class="text-muted"><small><%= book.main_author %></small></span>                     
                    <% end %> 
                  </td>
                  <td class="text-center" style="width: 80px;">
                    <% if user_signed_in? and current_user.added_book?(book) %>
                      <%= link_to '#', 'data-toggle' => "tooltip", "data-placement" => "left", title: t('shelves.edit_collections'), class: "btn btn-effect-ripple btn-xs btn-success" do %>                    
                        <i class="fa fa-check"></i>
                      <% end %>                     
                    <% else %>     
                      <%= link_to '#', 'data-toggle' => "tooltip", "data-placement" => "left", title: t('shelves.add_to_collections'), class: "btn btn-effect-ripple btn-xs btn-primary" do %>                    
                        <i class="fa fa-plus"></i>
                      <% end %>                                   
                    <% end %>
                  </td>                  
                </tr>                
              <% end %>                  
            </tbody>
         </table>
      </div>
    </div>

    <div class="widget">
      <div class="widget-image widget-image-xs">        
        <%= image_tag("placeholders/photos/photo18_2x.jpg", alt: "book_background")  %>
        <div class="widget-image-content">
          <h2 class="widget-heading text-light"><strong>Most popular</strong></h2>
          <h3 class="widget-heading text-light-op h4">All time most owned and read.</h3>
        </div>
        <i class="fa fa-book"></i>
      </div>
       <% @latest_books.each do |book| %>
        
          <%= link_to book, {class: "widget-content widget-content-mini themed-background-muted border-top text-right clearfix"} do %>                                   
            <%= image_tag(book.image, alt: "book_cover",size: "90x126", class: "img-thumbnail pull-left") if book.image.present?  %>
            <h2 class="widget-heading h5"><strong><%= book.title%></strong></h2>
            <span class="text-muted"><%= book.main_author %></span>
            
          <% end %> 
      <% end %>
    </div>  
      
  </div>

  <div class="col-sm-6 col-lg-4 col-lg-offset-8 col-xl-3 col-xl-offset-0">    

    <div class="widget">
      <div class="widget-content themed-background-dark-flat text-light-op text-center border-bottom">
        Latest books
      </div>    

      <% @latest_books.each do |book| %>
        
          <%= link_to book, {class: "widget-content widget-content-mini themed-background-muted border-top text-right clearfix"} do %>                                   
            <%= image_tag(book.image, alt: "book_cover",size: "90x126", class: "img-thumbnail pull-left") if book.image.present?  %>
            <h2 class="widget-heading h5"><strong><%= book.title%></strong></h2>
            <span class="text-muted"><%= book.main_author %></span>
            
          <% end %> 
      <% end %>
    </div>    

    <div class="widget">
      <div class="widget-content border-bottom">
        <span class="pull-right text-muted">(This month)</span>
        Trending books
      </div>
      <% @latest_books.each do |book| %>
        
          <%= link_to book, {class: "widget-content widget-content-mini themed-background-muted border-top text-right clearfix"} do %>                                   
            <%= image_tag(book.image, alt: "book_cover",size: "90x126", class: "img-thumbnail pull-left") if book.image.present? %>
            <h2 class="widget-heading h5"><strong><%= book.title%></strong></h2>
            <span class="text-muted"><%= book.main_author %></span>
            
          <% end %> 
      <% end %>
    </div>
  </div>  

</div>

