
<% content_for :content_header do %>
  <div class="content-header">
    <div class="row">
      <div class="col-xs-offset-2 col-xl-offset-3">
        <div class="header-section">
          <%= render 'home/search_form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-xl-6 col-xl-push-3">
    <%= render 'home/widgets/welcome' %>
    <%= render 'home/widgets/my_books' if user_signed_in? %>
    <%= render 'home/widgets/my_collections' if user_signed_in? %>
    <%= render partial: 'books/widgets/grid',
      locals: {
        title: " #{t('recently_added')}",
        icon: "clock-o",
        cover_size: '114',
        books: @recently_added
      } if user_signed_in? %>

    <% @activities.each do |activity| %>
      <%= render partial: 'books/widgets/activity',
        locals: {activity: activity}  if activity.trackable_type == 'Book' %>
    <% end %>
  </div>

  <div class="col-sm-6 col-lg-4 col-xl-3 col-xl-pull-6">

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.recommended')}", icon: "thumbs-o-up", books: @recommended_books} %>

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.popular')}", icon: "line-chart", books: @popular_books} %>

  </div>

  <div class="col-sm-6 col-lg-4 col-lg-offset-8 col-xl-3 col-xl-offset-0">

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.awarded')}", icon: "trophy", books: @awarded_books} %>

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.latest')}", icon: "clock-o", books: @latest_books} %>

  </div>

</div>

<% if user_signed_in? %>
<%= render partial: 'books/widgets/collections_manager', locals: {shelves: @shelves} %>
<% end %>
