
<% content_for :content_header do %>
  <div class="content-header">
    <div class="row">
      <div class="col-sm-offset-3">
        <div class="header-section">
          <%= render 'home/search_form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= paginate @search_results unless @search_results.nil? %><br>

<% @search_results.each do |book| %>
<%= book.title%><br>
<% end unless @search_results.nil? %>
<%= "Nothing was found..." if not @search_results.nil? and @search_results.empty? and !params[:search].nil? %><br>

<i class="fa fa-trophy sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Frontend Template</span><i class="fa fa-institution"></i>

<i class="gi gi-beer"></i>

<h3>Latest books</h3>
<% @latest_books.each do |book| %>
<%= book.title%><br>
<% end %>