- content_for :content_header do
  .content-header
    .row
      .offset-sm-2.offset-xl-3
        .header-section
          = render 'home/search_form'

- if @search_results.present? && !@search_hits.all? { |_, v| v == 0 }
  - active_klass = @search_hits.find { |_, v| v > 0 }[0]
  - search_tabs = [{key: "Book", slug: "books", label: t("books.label")}, {key: "Author", slug: "authors", label: t("authors.label")}, {key: "Publisher", slug: "publishers", label: t("publishers.label")}, {key: "Category", slug: "categories", label: t("categories.label")}, {key: "Series", slug: "series", label: t("series.label")}]

  .row.index-layout
    .col-12
      %section.index-panel.search-results
        .search-results__tabs
          %ul.nav.nav-tabs.search-results__nav{role: "tablist"}
            - search_tabs.each do |tab|
              - next unless @search_hits[tab[:key]] > 0
              - tab_panel_id = "search-tab-#{tab[:slug]}"
              - tab_button_id = "#{tab_panel_id}-tab"
              - is_active = active_klass == tab[:key]
              %li.nav-item{role: "presentation"}
                %button.nav-link{class: ("active" if is_active), id: tab_button_id, type: "button", role: "tab", data: {bs_toggle: "tab", bs_target: "##{tab_panel_id}"}, aria: {controls: tab_panel_id, selected: is_active}}
                  = "#{tab[:label]} (#{@search_hits[tab[:key]]})"

        .tab-content.search-results__content
          - @search_results.each do |result|
            - if result.klass.to_s == "Book" && @search_hits["Book"] > 0
              #search-tab-books.tab-pane.fade{role: "tabpanel", aria: {labelledby: "search-tab-books-tab"}, class: ("show active" if active_klass == "Book")}
                .book-list
                  = render partial: "books/book", collection: result.results, as: :book
                  - if result.results.count < @search_hits["Book"]
                    #load-more-books-btn-container
                - if result.results.count < @search_hits["Book"]
                  .search-results__load-more
                    #load-more-books
                      = link_to t('load_more'), search_path(q: params[:q], search_only: 'books', page: 2, format: :turbo_stream), class: 'btn btn-primary', data: {turbo_stream: true}

            - elsif result.klass.to_s == "Author" && @search_hits["Author"] > 0
              #search-tab-authors.tab-pane.fade{role: "tabpanel", aria: {labelledby: "search-tab-authors-tab"}, class: ("show active" if active_klass == "Author")}
                .author-list
                  = render partial: "authors/author", collection: result.results, as: :author, locals: {liked_ids: @liked_author_ids}
                  - if result.results.count < @search_hits["Author"]
                    #load-more-authors-btn-container
                - if result.results.count < @search_hits["Author"]
                  .search-results__load-more
                    #load-more-authors
                      = link_to t('load_more'), search_path(q: params[:q], search_only: 'authors', page: 2, format: :turbo_stream), class: 'btn btn-primary', data: {turbo_stream: true}

            - elsif result.klass.to_s == "Publisher" && @search_hits["Publisher"] > 0
              #search-tab-publishers.tab-pane.fade{role: "tabpanel", aria: {labelledby: "search-tab-publishers-tab"}, class: ("show active" if active_klass == "Publisher")}
                .publisher-list
                  = render partial: "publishers/publisher", collection: result.results, as: :publisher
                  - if result.results.count < @search_hits["Publisher"]
                    #load-more-publishers-btn-container
                - if result.results.count < @search_hits["Publisher"]
                  .search-results__load-more
                    #load-more-publishers
                      = link_to t('load_more'), search_path(q: params[:q], search_only: 'publishers', page: 2, format: :turbo_stream), class: 'btn btn-primary', data: {turbo_stream: true}

            - elsif result.klass.to_s == "Category" && @search_hits["Category"] > 0
              #search-tab-categories.tab-pane.fade{role: "tabpanel", aria: {labelledby: "search-tab-categories-tab"}, class: ("show active" if active_klass == "Category")}
                .index-panel__content--grids
                  = render partial: "categories/category_with_books", collection: result.results, as: :category
                  - if result.results.count < @search_hits["Category"]
                    #load-more-categories-btn-container
                - if result.results.count < @search_hits["Category"]
                  .search-results__load-more
                    #load-more-categories
                      = link_to t('load_more'), search_path(q: params[:q], search_only: 'categories', page: 2, format: :turbo_stream), class: 'btn btn-primary', data: {turbo_stream: true}

            - elsif result.klass.to_s == "Series" && @search_hits["Series"] > 0
              #search-tab-series.tab-pane.fade{role: "tabpanel", aria: {labelledby: "search-tab-series-tab"}, class: ("show active" if active_klass == "Series")}
                .index-panel__content--grids
                  = render partial: "series/series_with_books", collection: result.results, as: :series
                  - if result.results.count < @search_hits["Series"]
                    #load-more-series-btn-container
                - if result.results.count < @search_hits["Series"]
                  .search-results__load-more
                    #load-more-series
                      = link_to t('load_more'), search_path(q: params[:q], search_only: 'series', page: 2, format: :turbo_stream), class: 'btn btn-primary', data: {turbo_stream: true}

- else
  .row.index-layout
    .col-12
      %section.index-panel.search-results
        .search-results__empty= t("nothing_found")
