<div class="row">
  <div class="col-md-12">

    <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
        <li class="active"><a href="#file" data-toggle="tab"><%= t('import.from_file') %></a></li>
        <li><a href="#url" data-toggle="tab"><%= t('import.from_url') %></a></li>
        <li><a href="#text" data-toggle="tab"><%= t('import.from_text') %></a></li>
    </ul>
    <br>
    <div id="my-tab-content" class="tab-content">  
      
      <%= render 'tab_from_file' %>
      <%= render 'tab_from_url' %>
      <%= render 'tab_from_text' %>

    </div>

  </div>

</div>
