<div class="table-responsive">
  <div id="example-datatable_wrapper" class="dataTables_wrapper form-inline no-footer">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5 col-xs-12 clearfix">
        <div class="dataTables_paginate paging_bootstrap">
          <%= paginate @books %>
        </div>
      </div>
    </div>

    <table class="table table-striped table-bordered table-vcenter dataTable no-footer">
      <thead>
        <tr>
          <th><%= t('books.title') %></th>
          <th><%= t('books.subtitle') %></th>
          <th><%= t('books.publisher') %></th>      
          <th><%= t('books.image') %></th>
          <th><%= t('books.isbn') %></th>
          <th><%= t('books.series') %></th>
          <th><%= t('books.price') %></th>
          <th><%= t('books.physical_desc') %></th>
          <th><%= t('books.availability') %></th>
          <th><%= t('books.format') %></th>
          <th><%= t('books.original') %></th>          
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <%= render :partial =>  "books/book", :collection => @books, :as => :book %>
      </tbody>
    </table>


    <div class="row">
      <div class="col-sm-7 col-sm-offset-5 col-xs-12 clearfix">
        <div class="dataTables_paginate paging_bootstrap">
          <%= paginate @books %>
        </div>
      </div>
    </div>
  </div>
</div>

