<%= paginate @books %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('books.title') %></th>
      <th><%= t('books.subtitle') %></th>
      <th><%= t('books.publisher') %></th>      
      <th><%= t('books.image') %></th>
      <th><%= t('books.isbn') %></th>
      <th><%= t('books.series') %></th>
      <th><%= t('books.price') %></th>
      <th><%= t('books.physical_desc') %></th>
      <th><%= t('books.availability') %></th>
      <th><%= t('books.format') %></th>
      <th><%= t('books.original') %></th>          
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial =>  "books/book", :collection => @books, :as => :book %>
  </tbody>
</table>