.book-show__details
  %ul.nav.nav-tabs.book-show__tabs{role: "tablist"}
    %li.nav-item{role: "presentation"}
      %button.nav-link.active{id: "book-show-desc-tab", type: "button", role: "tab", data: {bs_toggle: "tab", bs_target: "#book-show-desc"}, aria: {controls: "book-show-desc", selected: true}}
        = t("books.description")
    %li.nav-item{role: "presentation"}
      %button.nav-link{id: "book-show-marc-tab", type: "button", role: "tab", data: {bs_toggle: "tab", bs_target: "#book-show-marc"}, aria: {controls: "book-show-marc", selected: false}}
        = t("books.marc_view")
    %li.nav-item{role: "presentation"}
      %button.nav-link{id: "book-show-isbd-tab", type: "button", role: "tab", data: {bs_toggle: "tab", bs_target: "#book-show-isbd"}, aria: {controls: "book-show-isbd", selected: false}}
        = t("books.isbd_view")

  .tab-content.book-show__tab-content
    #book-show-desc.tab-pane.fade.show.active{role: "tabpanel", aria: {labelledby: "book-show-desc-tab"}}
      %table.table.table-striped.book-show__table
        %tbody
          = @book_presenter.trow(t("books.publication"), @book_presenter.publication)
          = @book_presenter.trow(t("books.format"), @book.format.humanize) if @book.format
          = @book_presenter.trow(t("books.series"), @book_presenter.series)
          = @book_presenter.trow(t("language"), UnicodeUtils.titlecase(@book.language)) if @book.language.present?
          = @book_presenter.trow(t("books.original_title"), @book.original_title)
          = @book_presenter.trow(t("books.original_language"), UnicodeUtils.titlecase(@book.original_language)) if @book.original_language.present?
          = @book_presenter.trow(t("books.genres"), @book_presenter.genres)
          = @book_presenter.trow(t("collections"), @book_presenter.collections(@in_shelves)) if user_signed_in?
          = @book_presenter.trow(t("books.isbn"), @book.isbn)
          = @book_presenter.trow(t("books.isbn13"), @book.isbn13)
          = @book_presenter.trow(t("books.ismn"), @book.ismn)
          = @book_presenter.trow(t("books.issn"), @book.issn)
          = @book_presenter.trow(t("books.physical_desc"), @book_presenter.physical_description)
          - if policy(@book).update?
            = @book_presenter.trow("ID", @book.id)
            = @book_presenter.trow("Biblionet ID", @book.biblionet_id)

    #book-show-marc.tab-pane.fade{role: "tabpanel", aria: {labelledby: "book-show-marc-tab"}}
      %table.table.table-striped.table-sm.book-show__table
        %tbody
          = @book_presenter.marc_leader
          = @book_presenter.marc_control_fields
          = @book_presenter.marc_data_fields

    #book-show-isbd.tab-pane.fade{role: "tabpanel", aria: {labelledby: "book-show-isbd-tab"}}
      %table.table.table-striped.book-show__table
        %tbody
          = @book_presenter.trow(t("books.title"), @book_presenter.isbd_title)
          = @book_presenter.trow(t("authors.main"), @book_presenter.isbd_main_author)
          = @book_presenter.trow(t("authors.other"), @book_presenter.isdb_other_authors)
          = @book_presenter.trow(t("books.publication"), @book_presenter.publication)
          = @book_presenter.trow(t("books.format"), @book.format) if @book.format
          = @book_presenter.trow(t("books.original_title"), @book.original_title)
          = @book_presenter.trow(t("books.original_language"), UnicodeUtils.titlecase(@book.original_language)) if @book.original_language.present?
          = @book_presenter.trow(t("books.series"), [@book.series_name, @book.series_volume].reject(&:blank?).join(" · "))
          = @book_presenter.trow(t("books.genres"), @book_presenter.genres)
          = @book_presenter.trow(t("books.isbn"), @book.isbn)
          = @book_presenter.trow(t("books.isbn13"), @book.isbn13)
          = @book_presenter.trow(t("books.ismn"), @book.ismn)
          = @book_presenter.trow(t("books.issn"), @book.issn)
          = @book_presenter.trow(t("books.physical_desc"), @book_presenter.physical_description)
