#reviewModal.modal.fade{role: "dialog", tabindex: "-1", aria: {modal: true, labelledby: "reviewModalLabel"}, data: {controller: "review-modal"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title#reviewModalLabel= t("books.book_review")
        %button.btn-close{type: "button", aria: {label: t("close", default: "Close")}, data: {bs_dismiss: "modal"}}
      .modal-body
        %label.text-muted
          Would you recommend this book?
        .review-btns
          = render partial: "books/widgets/recommend_btns", locals: {book: @book}
        = form_for Comment.new, url: {action: :create}, html: {id: "reviewForm", onsubmit: "return false;"} do |f|
          = f.trix_editor :body, placeholder: t("books.write_review"), rows: 10
          %input{name: "book_id", type: "hidden", value: "#{@book.id}"}
          %input{name: "email", type: "hidden", value: "#{current_user.email}"}
          %input{name: "token", type: "hidden", value: "#{current_user.token}"}

      .modal-footer
        %button.btn.btn-sm.btn-outline-secondary{type: "button", data: {bs_dismiss: "modal"}}= t("cancel")
        %button#postReviewBtn.btn.btn-sm.btn-primary{type: "submit"}= t("comments.post")
