- tags = { title: "#{t('books.awarded')} #{t('books.label')}" }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('books.label') => books_path, t('books.awarded') => nil}

= cell(:navigation).call(:content_header,                                            |
  content: render(partial: 'shared/search_form',                                     |
  locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) |

.row
  .col-sm-8
    = render partial: 'books/awarded_book', :collection => @books, :as => :book
    - if @books.next_page
      #load-more-awarded-books-btn-container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
          #load-more-awarded-books= link_to t('load_more'), awarded_books_path(load_books: true, prize_id: params[:prize_id], page: 2), remote: true, class: 'btn btn-block btn-primary', data: { loading_text: "<i class='fa fa-circle-o-notch fa-spin'></i>"}
      %hr
  .col-sm-4
    .block
      .block-title
        %h2= detone t('prizes.label')
      #load-more-awards-container.group-list
        = render partial: 'prizes/widgets/prize_group_item', :collection => @prizes, :as => :prize
      #load-more-awards-btn
        = link_to t('load_more'), awarded_books_path(load_awards: true, page: 2), remote: true, class: 'btn btn-block btn-primary', data: { loading_text: "<i class='fa fa-circle-o-notch fa-spin'></i>"}


- if user_signed_in?
  = render 'books/collections_modal'
