- tags = { title: t('books.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('books.label') => nil}

= cell(:navigation).call(:content_header,                                            |
  content: render(partial: 'shared/search_form',                                     |
  locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) |

.row
  .col-sm-8
    .block.full
      .block-title
        .block-options.pull-right
          = cell(:navigation).call(:btn_link_to, name: fa('plus'), url: new_book_path, tooltip: t('books.new')) if policy(Book).new?
        %h2
          = detone t('books.label')
          %small= " (#{@books.response["hits"]["total"]})"
      .row
        .col-xs-12
          .row
            .col-xs-10
              -# require 'pry'; binding.pry
              = render "books/widgets/pagination" if defined? @books.total_pages
            .col-xs-2.visible-xs
              = button_tag "data-toggle" => "collapse", "data-target" => "#filter-sidebar", class: 'btn btn-sm btn-primary pull-right' do
                %i.fa.fa-sliders
                %span= " #{t('books.filters.label')}"
          %hr/
          = render :partial => "books/book", :collection => @books, :as => :book, cached: true
          = render "books/widgets/pagination" if defined? @books.total_pages
  .col-sm-4.hidden-xs.sliding-sidebar{id: "filter-sidebar"}
    = render partial: 'books/widgets/filter', locals: {title: t('authors.label_singular'), filter_name: "author", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('publishers.label_singular'), filter_name: "publisher", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('categories.label_singular'), filter_name: "category", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('series.label_singular'), filter_name: "series", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('books.publication_year'), filter_name: "publication_year", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('books.format'), filter_name: "format", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('books.original_language'), filter_name: "language", books: @books}

    = render partial: 'books/widgets/filter', locals: {title: t('books.pages_label'), filter_name: "pages", books: @books}

- if user_signed_in?
  = render 'books/collections_modal'
