- tags = { title: t('books.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('books.label') => nil}

= content_header(                                            |
  content: render(partial: 'shared/search_form',                                     |
  locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) |

.row.index-layout{data: {controller: "filter-sidebar"}}
  .col-sm-8
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title
          = detone t('books.label')
          %span.index-panel__count= " (#{search_results_total_label(@books)})"
        - if policy(Book).new?
          .index-panel__actions
            = nav_btn_link_to(name: fa('plus'), url: new_book_path, tooltip: t('books.new'))

      .index-panel__toolbar
        .index-panel__pagination
          = render "books/widgets/pagination" if defined? @books.total_pages
        = button_tag nil, class: "btn btn-sm btn-primary index-panel__toolbar-action index-panel__toolbar-action--mobile-only visible-xs", data: {action: "click->filter-sidebar#toggle"} do
          %i.fa.fa-sliders{aria: {hidden: true}}
          %span= t('books.filters.label')

      .index-panel__content
        .book-list
          = render partial: "books/book", collection: @books, as: :book, cached: true
        = render "books/widgets/pagination" if defined? @books.total_pages

  .col-sm-4.book-filters-column
    = render partial: "books/widgets/filters_sidebar", locals: {books: @books}

- if user_signed_in?
  = render 'books/collections_modal'
