<% pages = {fa('home') => root_url, t('my_books') => nil} %>

<%= cell(:navigation).call(:content_header, title: t('my_books'), breadcrumbs: pages) %>


<div class="row">
   <div class="col-sm-8">
      <div class="block full">
        <div class="block-title">
          <h2><%= detone t('my_books') %><small>&nbsp;(<%= @books.total_count %>)</small></h2>
        </div>

        <div class="row"> 
          <%= render "books/widgets/pagination" %>
          <hr> 
          <div class="col-xs-12">    
            <%= render :partial =>  "books/book", :collection => @books, :as => :book %>
          </div>
          <%= render "books/widgets/pagination" %>  
        </div>

      </div>
  </div>
</div>

<% if user_signed_in? %>
<%= render partial: 'books/widgets/collections_manager', locals: {shelves: @shelves} %>
<% end %>