
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @book.subtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Isbn13:</strong>
  <%= @book.isbn13 %>
</p>

<p>
  <strong>Ismn:</strong>
  <%= @book.ismn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @book.issn %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<p>
  <strong>Publication place:</strong>
  <%= @book.publication_place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Price updated at:</strong>
  <%= @book.price_updated_at %>
</p>

<p>
  <strong>Physical description:</strong>
  <%= @book.physical_description %>
</p>

<p>
  <strong>Cover type:</strong>
  <%= @book.cover_type %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @book.availability %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @book.original_language %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @book.original_title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @book.extra %>
</p>

<p>
  <strong>Biblionet:</strong>
  <%= @book.biblionet_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
