<% pages = {fa('home') => root_url, t('books.label') => books_url, @book.title => nil} %>

<%= cell(:navigation).call(:content_header, content: render(partial: 'shared/search_form', 
    locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) %>

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">       
            <% if policy(@book).update? %>            
            <%= cell(:navigation).call(:btn_link_to, name: fa('pencil'), url: edit_book_path(@book), tooltip: t('books.edit'), style: 'success') %>
            <% end %>                
          </div>
          <h2><%= detone(@book.title) %></h2>
        </div>  

        <div class="row">
          <div class="col-sm-3">
            <div class="row">            
              <div class="widget">
                <div class="widget-content themed-background-muted text-right clearfix">
                  <%= image_tag(@book.cover, alt: "book_cover", class: "img-thumbnail")  %>
                </div>
                <div class="widget-content themed-background-muted text-center">

                <%= render partial: 'books/widgets/collections_manager_btn', locals: {book: @book, full_size: true} %>
                <hr>
                <%= render partial: 'books/widgets/recommend_btns', locals: {book: @book, show_progressbar: true} %>
                <hr>                
                <div class="row text-center">
                  <div class="col-xs-6">
                    <h4 class="widget-heading"><small><%= t 'collections' %></small><br><%= @bookshelves_count %></h4>
                  </div>
                  <div class="col-xs-6">
                    <h4 class="widget-heading"><small><%= t 'stats.views' %></small><br><%= @views_count %></h4>
                  </div>
                  <div class="col-xs-6">
                    <h4 class="widget-heading"><small><%= t 'stats.visitors' %></small><br><%= @viewers_count %></h4>
                  </div>
                </div>
                </div>
              </div>
            </div>                       
          </div>  
          <div class="col-sm-9">
            <h2><%= @book.title %><br><small><%= @book.subtitle %></small></h2>
            <hr>
            
            <h4><%= @book_presenter.writers %></h4>
            <h4><%= @book_presenter.contributors %></h4>                                  
            <hr>
            
            <article class="description">
              <%= @book.description.html_safe if @book.description.present? %>
            </article>            
            <br>
            <div class="block full">
              <div class="block-title">
                <ul class="nav nav-tabs" data-toggle="tabs">
                  <li class="active"><a href="#block-tabs-desc"><%= t('books.description') %></a></li>
                  <li><a href="#block-tabs-marc"><%= t('books.marc_view') %></a></li>
                  <li><a href="#block-tabs-isbd"><%= t('books.isbd_view') %></a></li>                  
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="block-tabs-desc">
                  <table class="table table-striped">
                    <tbody>
                      <%= @book_presenter.trow(t('books.publication'), @book_presenter.publication) %>

                      <%= @book_presenter.trow(t('books.format'), @book.format.humanize) if @book.format %>                
                      <%= @book_presenter.trow(t('language'), UnicodeUtils.titlecase(@book.language)) if @book.language.present? %>

                      <%= @book_presenter.trow(t('books.original_title'), @book.original_title) %>

                      <%= @book_presenter.trow(t('books.original_language'), UnicodeUtils.titlecase(@book.original_language)) if @book.original_language.present? %>

                      <%= @book_presenter.trow(t('books.series'), [@book.series_name,@book.series_volume].reject(&:blank?).join(' · ')) %>
                      
                      <%= @book_presenter.trow(t('books.genres'), @book_presenter.genres) %>

                      <%= @book_presenter.trow(t('collections'), @book_presenter.collections(@in_shelves)) if user_signed_in? %>                                          
                      <%= @book_presenter.trow(t('books.isbn'), @book.isbn) %>

                      <%= @book_presenter.trow(t('books.isbn13'), @book.isbn13) %>
  
                      <%= @book_presenter.trow(t('books.ismn'), @book.ismn) %>

                      <%= @book_presenter.trow(t('books.issn'), @book.issn) %>  

                      <%= @book_presenter.trow(t('books.physical_desc'), @book_presenter.physical_description) %> 

                      <%= @book_presenter.trow(t('books.price'), @book_presenter.price) %>
                    </tbody>
                  </table>
                </div>
                                
                <div class="tab-pane" id="block-tabs-marc">
                  <table class="table table-striped table-condensed">
                    <tbody>
                      <%= @book_presenter.marc_leader %>

                      <%= @book_presenter.marc_control_fields %>

                      <%= @book_presenter.marc_data_fields %>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="block-tabs-isbd">
                  <table class="table table-striped">
                    <tbody>
                      <%= @book_presenter.trow(t('books.title'), @book_presenter.isbd_title) %>
                      <%= @book_presenter.trow(t('authors.main'), @book_presenter.isbd_main_author) %>
                      <%= @book_presenter.trow(t('authors.other'), @book_presenter.isdb_other_authors) %>

                      <%= @book_presenter.trow(t('books.publication'), @book_presenter.publication) %>

                      <%= @book_presenter.trow(t('books.format'), @book.format) if @book.format %>                                      
                      <%= @book_presenter.trow(t('books.original_title'), @book.original_title) %>

                      <%= @book_presenter.trow(t('books.original_language'), UnicodeUtils.titlecase(@book.original_language)) if @book.original_language.present? %>

                      <%= @book_presenter.trow(t('books.series'), [@book.series_name,@book.series_volume].reject(&:blank?).join(' · ')) %>

                      <%= @book_presenter.trow(t('books.genres'), @book_presenter.genres) %>                                         
                      <%= @book_presenter.trow(t('books.isbn'), @book.isbn) %>

                      <%= @book_presenter.trow(t('books.isbn13'), @book.isbn13) %>
  
                      <%= @book_presenter.trow(t('books.ismn'), @book.ismn) %>

                      <%= @book_presenter.trow(t('books.issn'), @book.issn) %>  

                      <%= @book_presenter.trow(t('books.physical_desc'), @book_presenter.physical_description) %> 
                      
                    </tbody>
                  </table>
                </div>                
              </div>
            </div>
            <% if @book.awards.count > 0 %>
              <h4 class="sub-header">
                <%= t('awards.label') %>
              </h4>
              <% @book.awards.each do |award|%>
                <%= link_to award.prize.name, award.prize %>
                <%= " (#{award.year})" %><br>
              <% end %>
            <% end %> 

            <h4 class="sub-header">
              <%= t('comments.or_reviews') %>
            </h4>

            <div class="widget">
              <div class="widget-content themed-background-muted">
                <ul class="media-list push comments-list">
                  <% if @comments.count > 0 %>
                    <% @comments.each do |comment|%>
                      <li class="media comment-block" id="comment-<%= comment.id %>">
                        <a href="<%= public_profile_path(comment.user.id) %>" class="pull-left">
                        <img src="<%= comment.user.avatar %>" alt="Avatar" width="40" height="40" class="img-circle">
                        </a>
                        <div class="media-body">
                          <a href="<%= public_profile_path(comment.user.id) %>">
                            <strong><%= comment.user.screen_name %></strong>
                          </a>
                          <span class="text-muted"><small><em><%= time_ago_in_words(comment.created_at) %></em></small></span>
                          <% if policy(comment).destroy? %>
                            <span onclick="<%= "deleteComment(#{@book.id}, #{comment.id}, #{current_user.credentials})" %>" class="comment-action delete-comment">
                              <small><em><%=fa('trash-o')%></em></small></span>
                          <% end %>
                          <% if policy(comment).edit? %>
                            <span class="comment-action edit-comment">
                              <small><em><%=fa('pencil')%></em></small></span>
                          <% end %>
                          <p><%= comment.body %></p>
                        </div>
                      </li>                    
                    <% end %>
                  <% end %>
                  <% if user_signed_in? %>
                    <li class="media">
                      <a href="<%= public_profile_path(current_user.id) %>" class="pull-left">                    
                      <img src="<%= current_user.avatar %>" alt="Avatar" class="img-circle">
                      </a>
                      <div class="media-body">
                        <form class="comment-form" onsubmit="return false;">
                          <textarea class="comment-area form-control" rows="2" placeholder="<%= t('comments.write') %>"></textarea>
                          <input type="hidden" name="book_id" value="<%= @book.id %>">
                          <input type="hidden" name="email" value="<%= current_user.email %>">
                          <input type="hidden" name="token" value="<%= current_user.token %>">
                          <button type="submit" class="post-comment btn btn-effect-ripple btn-sm btn-primary"><%= t('comments.post') %></button>
                        </form>
                      </div>
                    </li>
                  <% else %>
                    <%= link_to t('comments.sign_in_to_post'), new_user_session_path %>
                  <% end %>
                </ul>
              </div>
            </div>            

          </div>  
        </div>          
      </div>
  </div>
</div>

<% if user_signed_in? %>
<%= render partial: 'books/widgets/collections_manager', locals: {shelves: @shelves} %>
<% end %>

<%= link_to 'Back', books_path %>
