<% pages = {fa('home') => root_url, t('books.label') => books_url, @book.title => nil} %>

<%= cell(:navigation).call(:content_header, title: @book.title, breadcrumbs: pages) %>

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">   
            <%= cell(:navigation).call(:btn_link_to, name: fa('plus'), url: 'add-tο-collection', tooltip: t('add_to_collection')) %>    
            <% if policy(@book).update? %>            
            <%= cell(:navigation).call(:btn_link_to, name: fa('pencil'), url: edit_book_path(@book), tooltip: t('books.edit'), style: 'success') %>
            <% end %>                
          </div>
          <h2><%= detone(@book.title) %></h2>
        </div>  

        <div class="row">
          <div class="col-sm-3">            
            <%= image_tag(@book.cover, alt: "book_cover", class: "img-thumbnail")  %>            
          </div>  
          <div class="col-sm-9">
            <h2><%= @book.title %><br><small><%= @book.subtitle %></small></h2>
            <hr>
            
            <h4><%= @book_presenter.writers %></h4>              

            <h4><%= @book_presenter.contributors %></h4>            
            
            <hr>

            <div class="block full">
              <div class="block-title">
                <ul class="nav nav-tabs" data-toggle="tabs">
                  <li class="active"><a href="#block-tabs-desc"><%= t('books.description') %></a></li>
                  <li><a href="#block-tabs-marc"><%= t('books.marc_view') %></a></li>
                  <li><a href="#block-tabs-isbd"><%= t('books.isbd_view') %></a></li>                  
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="block-tabs-desc">
                  <table class="table table-striped">
                    <tbody>
                      <%= @book_presenter.trow(t('books.publication'), @book_presenter.publication) %>

                      <%= @book_presenter.trow(t('books.format'), @book.format.humanize) if @book.format %>                

                      <%= @book_presenter.trow(t('books.original_title'), @book.original_title) %>

                      <%= @book_presenter.trow(t('books.original_language'), @book.original_language) %>

                      <%= @book_presenter.trow(t('books.series'), @book.series_name) %>

                      <%= @book_presenter.trow(t('books.genres'), @book_presenter.genres) %>

                      <%= @book_presenter.trow(t('collections'), @book_presenter.collections(@shelves)) %>                                          
                      <%= @book_presenter.trow(t('books.isbn'), @book.isbn) %>

                      <%= @book_presenter.trow(t('books.isbn13'), @book.isbn13) %>
  
                      <%= @book_presenter.trow(t('books.ismn'), @book.ismn) %>

                      <%= @book_presenter.trow(t('books.issn'), @book.issn) %>  

                      <%= @book_presenter.trow(t('books.physical_desc'), @book_presenter.physical_description) %> 

                      <%= @book_presenter.trow(t('books.price'), @book_presenter.price) %>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="block-tabs-marc">
                  <%= t('books.marc_view') %>
                </div>
                <div class="tab-pane" id="block-tabs-isbd">
                  <%= t('books.isbd_view') %>
                </div>                
              </div>
            </div>                        
            <p><%= @book.description.html_safe if @book.description.present? %></p>
          </div>  
        </div>          
      </div>
  </div>
</div>



<%= link_to 'Back', books_path %>
