- tags = { title: @book.title, image: image_url(@book.cover), description: @book.short_description(185) }
- set_meta_tags tags.merge({og: tags.merge({image:{_: image_url(@book.cover_og), width:'215', height: '320'}, description: @book.short_description(300), type: 'books.book', books: {isbn: @book.isbn}})}).merge(twitter: tags)
- pages = {fa('home') => root_url, t('books.label') => books_url, @book.title => nil}

= content_header(content: render(partial: 'shared/search_form', locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages)

- book_comment_data = user_signed_in? ? {controller: "book-comments", book_comments_book_id_value: @book.id, book_comments_email_value: current_user.email, book_comments_token_value: current_user.token} : {}

.row
  .col-12
    %article.book-show{data: book_comment_data}
      - if policy(@book).update?
        .book-show__toolbar
          = nav_btn_link_to(name: fa('pencil'), url: edit_book_path(@book), tooltip: t('books.edit'), style: 'success')

      .book-show__layout
        = render partial: "books/book_show_sidebar"

        .book-show__main
          = render partial: "books/book_show_intro"
          = render partial: "books/book_show_details"

          - if @book.awards.count > 0
            %section.book-show__section
              %h2.book-show__section-title= t('awards.label')
              .book-show__awards
                - @book.awards.each do |award|
                  = link_to("#{award.prize.name} (#{award.year})", awarded_books_path(prize_id: award.prize.id), class: "book-show__award-link")

          %section.book-show__section
            %h2.book-show__section-title= t('comments.or_reviews')
            .book-show__comments
              = render partial: 'books/widgets/comments_list', locals: {comments: @comments, parent_id: nil, book: @book, user: current_user, depth: 0}

.row
  .col-12
    - @categories.each do |category|
      = render partial: 'books/widgets/grid', locals: {title: " #{t('books.more_from_x', category: category.name)}", icon: nil, cover_size: '114', lg_6_cols: true, books: category.get_random_books, find_more: category_path(category)}

- if user_signed_in?
  = render 'books/collections_modal'
  = render 'books/review_modal'

%script{type: 'application/ld+json'}
  = @book_presenter.structured_data.to_json.html_safe
