- tags = { title: "#{t('side_menu.trending')} #{t('books.label')}" }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('books.label') => books_path, t('side_menu.trending') => nil}

= content_header(                                            |
  content: render(partial: 'shared/search_form',                                     |
  locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) |

.row.index-layout
  .col-sm-8
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title= detone("#{t('side_menu.trending')} #{t('books.label')}")

      .index-panel__content
        .book-list
          = render partial: 'books/featured_book', collection: @books, as: :book

  .col-sm-4.index-sidebar
    = render partial: 'authors/widgets/side',              |
    locals: {                                              |
    title: " #{t('books.popular')} #{t('authors.label')}", |
    icon: "user-secret",                                   |
    authors: @trending_authors,                            |
    liked_ids: @liked_author_ids,                          |
    cache_key: 'side_trending_authors'                     |
    }                                                      |

- if user_signed_in?
  = render 'books/collections_modal'
