#coverModal.modal.fade{role: "dialog", tabindex: "-1", aria: {modal: true, labelledby: "coverModalLabel"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title#coverModalLabel= t("users.change_cover")
        %button.btn-close{type: "button", aria: {label: t("close", default: "Close")}, data: {bs_dismiss: "modal"}}
      .modal-body
        = form_tag profile_path, method: :patch, class: "dropzone profile-upload-dropzone", id: "cover-dropzone" do
          .dz-message{"data-dz-message" => ""}
            %span= t("drop_to_upload")
            %br/
            %span.note= "(#{t('or_click')})"
          .fallback
            = file_field_tag :cover, multiple: false
          %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}
          %input{name: "upload_type", type: "hidden", value: "cover"}
