
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Ddc:</strong>
  <%= @category.ddc %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Biblionet:</strong>
  <%= @category.biblionet_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @category.parent_id %>
</p>

<div class="row">
  <div class="col-md-10">
  <%= link_to "..", @category.parent_id.nil? ? categories_path : @category.parent, 
        class: 'col-md-10 btn btn-default btn-md btn-block', id: "@category_#{@category.id}"  %>  
  </div>    
  <%= render @children %>
</div>

<% if policy(@category).update? %>
<%= link_to 'New Subcategory', new_category_path(:parent_id => @category.id) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>

<%= link_to 'Back', categories_path %>
