.widget
  .widget-content.widget-content-mini.border-bottom
    = fa(icon)
    %strong= title
  .widget-content.widget-content-full
    %table.table.table-borderless.table-striped.table-vcenter
      %tbody
        - authors.each do |author|
          %tr
            %td.text-center{:style => "width: 80px;"}
              = link_to image_tag(author.avatar, alt: "author_cover", width: "80", class: "img-thumbnail"), author
            %td
              = link_to author.fullname, author
              %br/
              %span.text-muted
                %small= "#{t('authors.author_of')}"
              = link_to author.books.first do
                %span
                  %small= author.books.first.title
              %br/
              %span.text-muted
                %small= "#{author.books.count} #{t('books.label')}"
            %td.text-center{:style => "width: 80px;"}
              = render partial: 'authors/widgets/favourite_btn', locals: {author: author}
        - if !authors.any?
          %tr
            %td.text-center{:style => "width: 80px;"}
              %span.text-muted
                %small= t('no_suggestions_yet')

