- tags = { title: t('series.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('series.label') => nil}

= content_header( content: render(partial: 'shared/search_form', locals: {action: series_index_path, placeholder: t('series.search')}), breadcrumbs: pages)

.row.index-layout
  .col-12
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title
          = detone t('series.label')
          - if @series.respond_to?(:total_count) && @series.total_count.present?
            %span.index-panel__count= " (#{@series.total_count})"

      .index-panel__toolbar
        .index-panel__pagination
          = render "series/widgets/pagination"

      .index-panel__content.index-panel__content--grids
        = render partial: "series/series_with_books", collection: @series, as: :series
        = render "series/widgets/pagination"
