.widget
  .widget-content.widget-content-mini
    = fa('th-large')
    %strong= t('my_collections')
  .widget-content
    .row
      - if user_signed_in?
        .col-xs-12.col-sm-6
          = link_to t('shelves.all_collections'), my_books_path
          %span.grey
            (#{current_user.books.distinct.count})
        - @shelves.each do |shelf|
          .col-xs-12.col-sm-6
            = link_to shelf.screen_name, shelf
            %span.grey
              (#{shelf.books.count})
      - else
        .text-center
          %span.text-muted
            %small= link_to t('shelves.sign_in_to_create_collections'), new_user_session_path

