.widget
  .widget-content.widget-content-mini.border-bottom
    %i.fa.fa-fw.fa-book
    %strong= t('my_books')
  .widget-content
    .row
      .col-xs-12
        = "#{current_user.books.distinct.count} #{t('books.label')} | #{@shelves.count} #{t('collections')} | #{current_user.writers.distinct.count} #{t('authors.label')}"
      .col-xs-12
        = cell(:search).call(:search_form, url: '#', placeholder: t('search_my_books'))

