%section.index-panel.home-welcome
  %header.index-panel__header
    %h2.index-panel__title
      %i.fa.fa-home{aria: {hidden: true}}
      = t('welcome')
    %span.home-welcome__hint.d-none.d-sm-inline= "(#{t('some_options')})"

  .index-panel__content
    .home-welcome__columns
      .home-welcome__section
        %h3.home-welcome__section-title= t('browse')
        .home-welcome__links
          = link_to t('browse_books'), books_path
          = link_to t('browse_series'), series_index_path
      .home-welcome__section
        %h3.home-welcome__section-title= t('spruce_up_profile')
        .home-welcome__links
          = link_to t('edit_profile'), edit_profile_path
          = link_to t('add_member_photo'), public_profile_path
      .home-welcome__section
        %h3.home-welcome__section-title= t('discover')
        .home-welcome__links
          = link_to "#{t('books.awarded')} #{t('books.label')}", awarded_books_path
          = link_to "#{t('books.popular')} #{t('books.label')}", trending_books_path
