<div class="widget">  
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <span class="pull-right">(<%= t('some_options') %>)</span>
    <i class="fa fa-fw fa-home"></i> <strong><%= t('welcome') %></strong>
  </div>      
  <div class="widget-content">                
     <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h4><%= t('add_books') %></h4>
          <%= link_to t('browse_books'), "#" %><br>
          <%= link_to t('add_books_to_library'), "#" %>
        </div> 
        <div class="col-xs-6 col-sm-4">
          <h4><%= t('spruce_up_profile') %></h4>
          <%= link_to t('edit_profile'), "#" %><br>
          <%= link_to t('add_member_photo'), "#" %>              
        </div> 
        <div class="col-xs-6 col-sm-4">
          <h4><%= t('engage') %></h4>
          <%= link_to t('read_reviews'), "#" %><br>
          <%= link_to t('invite_friends'), "#" %>              
        </div> 
     </div>

     <div class="push-bit-top">
        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;"><i class="fa fa-facebook"></i> Like</a>
        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;"><i class="fa fa-twitter"></i> Tweet</a>
     </div>
  </div>
</div>