- pages = {fa('home') => root_url, 'Admin' => '#', 'Redis Browser' => admin_redis_path, @key => nil}

= cell(:navigation).call(:content_header, title: 'Redis Key Details', breadcrumbs: pages)

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa('key')
          Key:
          %code= @key
      .panel-body
        %dl.dl-horizontal
          %dt Key:
          %dd
            %code= @key
          %dt Type:
          %dd
            %span.label{class: "label-#{type_label_class(@key_info[:type])}"}
              = @key_info[:type].upcase
          %dt Size/Count:
          %dd= @key_info[:size]
          %dt TTL:
          %dd
            - if @key_info[:ttl].is_a?(Integer)
              = distance_of_time_in_words(Time.now, Time.now + @key_info[:ttl])
            - else
              %span.text-muted= @key_info[:ttl]

        %hr

        %h4 Value:
        .well{style: 'max-height: 600px; overflow-y: auto;'}
          - if @key_info[:type] == 'string' && @value.is_a?(Hash)
            %pre= JSON.pretty_generate(@value)
          - elsif @key_info[:type] == 'hash'
            %table.table.table-bordered.table-condensed
              %thead
                %tr
                  %th Field
                  %th Value
              %tbody
                - @value.each do |field, val|
                  %tr
                    %td
                      %code= field
                    %td
                      - begin
                        = JSON.pretty_generate(JSON.parse(val))
                      - rescue
                        = val
          - elsif @key_info[:type] == 'list'
            %ol
              - @value.each_with_index do |item, idx|
                %li
                  - begin
                    = JSON.pretty_generate(JSON.parse(item))
                  - rescue
                    = item
            - if @key_info[:size] > 100
              %p.text-muted
                %em Showing first 100 items of #{@key_info[:size]}
          - elsif @key_info[:type] == 'set'
            %ul
              - @value.each do |item|
                %li
                  - begin
                    = JSON.pretty_generate(JSON.parse(item))
                  - rescue
                    = item
            - if @key_info[:size] > 1000
              %p.text-muted
                %em Showing first 1000 items of #{@key_info[:size]}
          - elsif @key_info[:type] == 'zset'
            %table.table.table-bordered.table-condensed
              %thead
                %tr
                  %th Rank
                  %th Member
                  %th Score
              %tbody
                - @value.each_with_index do |(member, score), idx|
                  %tr
                    %td= idx + 1
                    %td
                      - begin
                        = JSON.pretty_generate(JSON.parse(member))
                      - rescue
                        = member
                    %td
                      %strong= score
            - if @key_info[:size] > 100
              %p.text-muted
                %em Showing first 100 items of #{@key_info[:size]}
          - else
            %pre= @value.inspect

        %hr

        .btn-group
          = link_to admin_redis_path, class: 'btn btn-default' do
            = fa('arrow-left')
            Back to List
          = link_to admin_redis_delete_path(@key), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete '#{@key}'?" } do
            = fa('trash')
            Delete Key
