- pages = {fa('home') => root_url, 'Admin' => '#', 'Redis Browser' => admin_redis_path, 'Stats' => nil}

= content_header(title: 'Redis Statistics', breadcrumbs: pages)

.row.index-layout
  .col-12
    %section.index-panel.admin-redis
      %header.index-panel__header
        %h1.index-panel__title
          = fa('bar-chart')
          Redis Server Information

      .index-panel__content
        .admin-redis__stats-grid
          .admin-redis__stat-card.admin-redis__stat-card--info
            .admin-redis__stat-card-header
              %h2.admin-redis__stat-card-title Server Info
            .admin-redis__stat-card-body
              %dl.admin-redis__meta-list
                %dt Redis Version
                %dd= @info['redis_version']
                %dt Uptime (days)
                %dd= (@info['uptime_in_seconds'].to_f / 86400).round(2)
                %dt Connected Clients
                %dd= @info['connected_clients']
                %dt Used Memory
                %dd= number_to_human_size(@info['used_memory'].to_i)
                %dt Used Memory Peak
                %dd= number_to_human_size(@info['used_memory_peak'].to_i)
                %dt Total Keys
                %dd
                  %strong= @dbsize

          .admin-redis__stat-card.admin-redis__stat-card--success
            .admin-redis__stat-card-header
              %h2.admin-redis__stat-card-title Performance
            .admin-redis__stat-card-body
              %dl.admin-redis__meta-list
                %dt Commands Processed
                %dd= number_with_delimiter(@info['total_commands_processed'].to_i)
                %dt Keyspace Hits
                %dd= number_with_delimiter(@info['keyspace_hits'].to_i)
                %dt Keyspace Misses
                %dd= number_with_delimiter(@info['keyspace_misses'].to_i)
                %dt Hit Rate
                %dd
                  - hits = @info['keyspace_hits'].to_i
                  - misses = @info['keyspace_misses'].to_i
                  - total = hits + misses
                  - hit_rate = total > 0 ? (hits.to_f / total * 100).round(2) : 0
                  %strong= "#{hit_rate}%"
                %dt Expired Keys
                %dd= number_with_delimiter(@info['expired_keys'].to_i)

        - if @keyspace.present?
          .admin-redis__keyspace
            %h2.admin-redis__section-title Keyspace
            %pre= @keyspace.inspect

        .admin-redis__footer-actions
          = link_to admin_redis_path, class: 'btn btn-outline-secondary' do
            = fa('arrow-left')
            Back to Browser
