                <div class="dark-bg">
                  <%= side_nav_li(t('side_menu.categories'), categories_path, "fa fa-tasks") %>
                  <%= side_nav_li(t('side_menu.books'), books_path, "icon-books-stack-of-three") %>
                  <%= side_nav_li(t('side_menu.authors'), authors_path, "icon-people") %>
                  <%= side_nav_li(t('side_menu.publishers'), publishers_path, "fa fa-building") %>
                </div>
                <li class="sidebar-separator">
                  <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.discover') %></span></i>
                </li>
                <%= side_nav_li(t('side_menu.featured'), books_path(featured: true), "fa fa-thumbs-o-up") %>
                <%= side_nav_li(t('side_menu.trending'), books_path(trending: true), "fa fa-line-chart") %>
                <%= side_nav_li(t('side_menu.awarded'), books_path(awarded: true), "fa fa-trophy") %>
                <%= side_nav_li(t('side_menu.latest'), books_path(latest: true), "fa fa-clock-o") %>

                <% if user_signed_in? %>

                  <% if current_user.editor? %>
                    <li class="sidebar-separator">
                      <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.editors_only') %></span></i>
                    </li>

                    <%= side_nav_li(t('side_menu.contributions'), contributions_path, "fa fa-pencil-square-o") %>
                    <%= side_nav_li(t('side_menu.awards'), awards_path, "fa fa-pencil-square-o") %>
                    <%= side_nav_li(t('side_menu.prizes'), prizes_path, "fa fa-pencil-square-o") %>
                  <% end %>

                  <% if current_user.admin? %>
                    <li class="sidebar-separator">
                      <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.admins_only') %></span></i>
                    </li>
                    <%= side_nav_li(t('side_menu.import'), import_path, "icon-arrow") %>
                    <%= side_nav_li(t('side_menu.tasks'), tasks_path, "fa fa-terminal") %>
                    <%= side_nav_li(t('side_menu.monitoring'), sidekiq_web_path, "fa fa-bullseye", true) %>
                    <%= side_nav_li(t('side_menu.api'), "/docs/api#introduction", "fa fa-exchange") %>
                  <% end %>

                <% end %>
