/ BEGIN MAIN LEFT NAVIGATION SIDEBAR
#sidebar
  #sidebar-brand
    = link_to root_path, class: "sidebar-title" do
      %span.sidebar-nav-mini-show
        = image_tag('icons/apple-touch-icon-57x57', class: 'logo-xs')
      %span.sidebar-nav-mini-hide
        = image_tag('logos/full_logo_6_sm.png', class: 'logo-full')
  #sidebar-scroll
    .sidebar-content
      %ul.sidebar-nav.visible-xs
        = side_nav_li(t('home'), root_path, "fa fa-home")
        = side_nav_li(t('collections'), shelves_path, "fa fa-folder-open")
        = side_nav_li(t('my_books'), my_books_path, "fa fa-book")
      %ul.sidebar-nav.dark-bg
        = side_nav_li(t('side_menu.categories'), categories_path, "fa fa-sitemap")
        = side_nav_li(t('side_menu.books'), books_path, "fa fa-book")
        = side_nav_li(t('side_menu.authors'), authors_path, "fa fa-user-secret")
        = side_nav_li(t('side_menu.publishers'), publishers_path, "fa fa-building")
        = side_nav_li(t('series.label'), series_index_path, "fa fa-tasks")
      %ul.sidebar-nav
        %li.sidebar-separator
          %i
            %span.sidebar-nav-mini-hide= t('side_menu.discover')
        = side_nav_li(t('side_menu.featured'), featured_books_path, "fa fa-thumbs-o-up")
        = side_nav_li(t('side_menu.trending'), trending_books_path, "fa fa-line-chart")
        = side_nav_li(t('side_menu.awarded'), awarded_books_path, "fa fa-trophy")
        = side_nav_li(t('side_menu.latest'), latest_books_path, "fa fa-clock-o")
      %ul.sidebar-nav
        %li.sidebar-separator
          %i
            %span.sidebar-nav-mini-hide= t('side_menu.pages')
        = side_nav_li(t('side_menu.about'), pages_about_path, "fa fa-file-text-o")
        = side_nav_li(t('side_menu.privacy'), pages_privacy_policy_path, "fa fa-file-text-o")

        - if user_signed_in?
          - if current_user.role == 'editor' || current_user.role == 'admin'
            %li.sidebar-separator
              %i
                %span.sidebar-nav-mini-hide= t('side_menu.editors_only')
            = side_nav_li(t('side_menu.contributions'), contributions_path, "fa fa-pencil-square-o")
            = side_nav_li(t('side_menu.awards'), awards_path, "fa fa-pencil-square-o")
            = side_nav_li(t('side_menu.prizes'), prizes_path, "fa fa-pencil-square-o")
          - if current_user.role == 'admin'
            %li.sidebar-separator
              %i
                %span.sidebar-nav-mini-hide= t('side_menu.admins_only')
            = side_nav_li(t('side_menu.import'), import_path, "fa fa-upload")
            = side_nav_li(t('side_menu.tasks'), tasks_path, "fa fa-terminal")
            = side_nav_li(t('side_menu.monitoring'), sidekiq_web_path, "fa fa-bullseye", true)
            = side_nav_li(t('side_menu.api'), "/docs/api#introduction", "fa fa-exchange")

  #sidebar-extra-info.sidebar-content.sidebar-nav-mini-hide
    .text-center
      = link_to fa('facebook-square'), 'https://www.facebook.com/bibliographygr/', target: '_blank', class: 'social-icon'
      %br/
      %a{:href => "https://www.sqreen.io/?utm_source=badge", :title => "Realtime application protection", :target => "_blank"}
        %img{:alt => "Sqreen | Runtime Application Protection", :src => "https://s3-eu-west-1.amazonaws.com/sqreen-assets/badges/20161213/sqreen-badgeWhite@2x.png", :style => "width:109px;height:36px"}/
      %small
        Crafted with
        %i.fa.fa-heart.text-danger
        in
        %a{:href => "https://www.ceid.upatras.gr/", :target => "_blank"} CEID
      %br/
      %small © 20[0-9]{2} Copyleft
/ END MAIN LEFT NAVIGATION SIDEBAR
