<!DOCTYPE html>
<html lang='el'>
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags fb: {app_id: Rails.application.secrets.FACEBOOK_APP_ID} %>
    <%= favicon_link_tag 'icons/favicon-16x16.png', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'icons/favicon-32x32.png', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'icons/favicon-96x96.png', type: 'image/png', sizes: '96x96' %>
    <%= favicon_link_tag 'icons/favicon-128x128.png', type: 'image/png', sizes: '128x128' %>
    <%= favicon_link_tag 'icons/favicon-196x196.png', type: 'image/png', sizes: '196x196' %>

    <!-- Apple Touch Icons -->
    <%= favicon_link_tag 'icons/apple-touch-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-76x76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>

    <!-- Windows 8 Tile Icons -->
    <meta name="application-name" content="BibliographyGR"/>
    <meta name="msapplication-TileColor" content="#de4b39" />
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="icons/mstile-310x310.png" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :modernizr %>

    <script type='application/ld+json'>
    {
      "@context":"http:\/\/schema.org",
      "@type":"WebSite",
      "@id":"#website",
      "url":"https:\/\/www.bibliography.gr\/",
      "name":"Bibliography.gr",
      "alternateName":"Elliniki vivliografia",
      "potentialAction":{
        "@type":"SearchAction",
        "target":"https:\/\/www.bibliography.gr\/search\/?q={search_term}",
        "query-input":"required name=search_term"
      }
    }
    </script>

	  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-61773702-1', 'auto'); ga('send', 'pageview'); </script>
  </head>
  <!-- END HEAD -->

  <!-- BEGIN BODY -->
  <body class="<%= controller_name %> <%= action_name %>">

    <!-- BEGIN PAGE WRAPER FOR LOADING SCREEN -->
    <div id="page-wrapper">

      <!-- BEGIN PAGE CONTAINER - THE WHOLE PAGE LIVES HERE -->
      <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">

        <%= render 'layouts/navigation_sidebar' %>

        <!-- BEGIN MAIN CONTAINER - THE MAIN PAGE - INCL TOP HEADER - EXCL SIDE MENUS -->
        <div id="main-container">

          <%= render 'layouts/top_header' %>

          <div id="fb-root"></div>

          <!-- BEGIN PAGE CONTENT - EXCL ALL MENUS AND SIDEBARS -->
          <div <%= content_for?(:page_content_options) ? yield(:page_content_options) : 'id="page-content"'.html_safe %> >
            <%= yield :content_header %>
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
          <!-- END PAGE CONTENT - EXCL ALL MENUS AND SIDEBARS -->

        </div>
        <!-- END MAIN CONTAINER - THE MAIN PAGE - INCL TOP HEADER - EXCL SIDE MENUS -->

      </div>
      <!-- END PAGE CONTAINER -->
    </div>
    <!-- END PAGE WRAPER FOR LOADING SCREEN -->

  </body>
  <!-- END BODY -->
</html>
